{% comment %}
  @param product {Product}
    The product object in question or false. Onboards if false or blank.

  @param aspect_ratio {string}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param thumbnail_position {string}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param image_crop {boolean}
    Whether to crop images

  @param hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

{% assign onboarding = false %}
{% if product == false or product == blank %}
  {% assign onboarding = true %}
{% endif %}

{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign selected_media = selected_variant.featured_media | default: product.featured_media %}

<style>
        .button--search {
        	display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px 8px 2px 2px;
            gap: 6px;
            position: absolute;
            width: 165px;
            height: 32px;
            background: rgba(239, 239, 239, 0.77);
            border-radius: 5px;
          	font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: left;
         	color: #404B5A;
          	z-index:100000;
          	top:550px;
        }
       
        
        .button--search img {
        	max-width:25px;
        }
          
      </style>


<div
  class="
    product-gallery
    {% if hover_zoom != 'disabled' %}hover-zoom-enabled{% endif %}
    {% if click_to_zoom != 'disabled' and click_to_zoom != 'mobile' %}click-to-zoom-enabled{% endif %}
  "
  data-product-gallery
  {% if image_crop %}data-product-gallery-image-crop{% endif %}
  data-product-gallery-aspect-ratio="{{ aspect_ratio }}"
  data-product-gallery-thumbnails="{{ thumbnail_position }}"
>
  
  	{% render 'share-social' %}
    <button class="syte-discovery button--search position-absolute start-0 top-0 mt-2 ms-md-2 ms-4 border-0" data-image-src="{{product.images[0] | img_url: '800x800', format: 'pjpg' }}" data-sku="{{ product.selected_or_first_available_variant.sku }}" data-placement="PDP-product" >         
    <img class="img-fluid" src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1652895720/IMAGENES/JAMAR/icon-similar-search_diqdwk.svg">
    BUSCA SIMILARES
  </button>
  
  
  <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Sello-70_aniversario-02.png?v=1631046964" alt="Garantía 70 años" class="sello-producto">
  {% if thumbnail_position == 'left' %}
    {%
      render 'product-gallery-navigation'
      product: product,
      selected_media: selected_media,
      aspect_ratio: aspect_ratio,
      image_crop: image_crop
    %}
  {% endif %}

  {%
    render 'product-gallery-viewer'
    product: product,
    selected_media: selected_media,
    aspect_ratio: aspect_ratio,
    image_crop: image_crop,
    hover_zoom: hover_zoom,
    onboarding: onboarding,
    click_to_zoom: click_to_zoom,
  %}
  


  {% assign first_model = product.media | where: "media_type", "model" | first %}
  {% if selected_media.media_type == 'model' %}
    {% assign model = selected_media %}
  {% else %}
    {% assign model = first_model %}
  {% endif %}
  {% if model %}
    <script>
      window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
      {% assign models = product.media | where: 'media_type', 'model' | json %}
      ShopifyXR('addModels', {{ models }});
    </script>
    <button
      class="product-gallery--viewinyourspace"
      data-default-model-id="{{ first_model.id }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ model.id }}"
      data-shopify-title="{{ product.title }}"
      data-shopify-xr-hidden
    >
      {% render 'icon-library', id: 'icon-3D' %}
      {{ 'product.media.view_in_your_space' | t }}
    </button>
  {% endif %}

  {% if thumbnail_position != 'left' %}
    {%
      render 'product-gallery-navigation'
      product: product,
      selected_media: selected_media,
      aspect_ratio: aspect_ratio,
      image_crop: image_crop,
    %}
  {% endif %}
  
  {% comment %}
  /*****************************************************
  *             SE AGREGO BOTON DE WHATSAPP
  *                  PATRYKSIM@GMAIL.COM
  *****************************************************/
  {% endcomment %}
  <div class="mt-4 d-flex flex-column align-items-center">
    <!--p class="product-gallery-message">Recibe asesoramiento gratis para asistirte en tu compra</p-->
    <a href="http://bit.ly/3A0s5iB" class="product-cta-whatsapp">
      <img src="//cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-asesoria-whatsapp.png?v=1644326703" alt="Boton de chat">
      <p class="mb-1 ms-2 text-center text-gris-jamar">Chatea con un asesor experto</p>
    </a>
  </div>
</div>

