{% comment %}
  @param layout {String}
    Layout type

  @param is_product_modal {Bool}
    Is the snippet being loaded in a QuickShop

  @param hide_description {Bool}
    If true, hide the product description

  @param gallery_aspect_ratio {string}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param gallery_thumbnail_position {string}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param gallery_image_crop {boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

{% assign onboarding = onboarding | default: false %}
{% assign layout = layout | default: nil %}
{% assign hide_description = hide_description | default: false %}

{% assign enable_social_sharing = settings.product_social_sharing %}
{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign compare_at_price = selected_variant.compare_at_price %}
{% assign price = selected_variant.price %}
{% assign sku = selected_variant.sku %}
{% assign product_available = product.available %}
{% assign product_url = product.url %}

{% comment %}For a potential divider in the product.description we need to split the content{% endcomment %}
{% assign readmore_split = product.description | split: '<!-- more -->' %}

{% case sku %}
  {% when "7021554" %}
    {% assign productCylindoSku = "7019217"  %}
  {% when "7015952" %}
    {% assign productCylindoSku = "7019204"  %}
  {% when "7021454" %}
    {% assign productCylindoSku = "7016520"  %}
  {% when "7021452" %}
    {% assign productCylindoSku = "7016527"  %}
  {% when "7021544" %}
    {% assign productCylindoSku = "7019232"  %}
  {% when "7017330" %}
    {% assign productCylindoSku = "7015724"  %}
  {% when "7019517"%}
    {% assign productCylindoSku = "7004692"  %}
  {% when "7021476"%}
    {% assign productCylindoSku = "7011368"  %}
  {% when "7021525"%}
    {% assign productCylindoSku = "7018843"  %}
  {% when "7021555"%}
    {% assign productCylindoSku = "7019216"  %}
  {% when "7016414"%}
    {% assign productCylindoSku = "7003394"  %}
  {% when "7019405"%}
    {% assign productCylindoSku = "7016013"  %}
  {% when "7022804"%}
    {% assign productCylindoSku = "7022105"  %}
  {% when "7008378"%}
    {% assign productCylindoSku = "7021933"  %}
  {% when "7013212"%}
    {% assign productCylindoSku = "7009446"  %}
  {% when "7013213"%}
    {% assign productCylindoSku = "7015302"  %}
  {% when "7023045"%}
    {% assign productCylindoSku = "7019286"  %}
  {% when "7022811"%}
    {% assign productCylindoSku = "7009965"  %}
  {% when "7022817"%}
    {% assign productCylindoSku = "102599"  %}
  {% when "7020625"%}
    {% assign productCylindoSku = "7015140"  %}
  {% when "7022834"%}
    {% assign productCylindoSku = "7022404"  %}
  {% when "7022848"%}
    {% assign productCylindoSku = "7022405"  %}
  {% when "7023025"%}
    {% assign productCylindoSku = "7017286"  %}
  {% when "7017835"%}
    {% assign productCylindoSku = "7017734"  %}
  {% when "7017299"%}
    {% assign productCylindoSku = "7015097"  %}
  {% when "7020280"%}
    {% assign productCylindoSku = "7017196"  %}
  {% when "7018225"%}
    {% assign productCylindoSku = "7017742"  %}
  {% when "7020447"%}
    {% assign productCylindoSku = "7018352"  %}
  {% when "7021492"%}
    {% assign productCylindoSku = "7015390"  %}
  {% when "7021383"%}
    {% assign productCylindoSku = "7020998"  %}
  {% when "7020441"%}
    {% assign productCylindoSku = "7017137"  %}
  {% when "7010273"%}
    {% assign productCylindoSku = "7009953"  %}
  {% when "7020467"%}
    {% assign productCylindoSku = "7015388"  %}
  {% when "7020275"%}
    {% assign productCylindoSku = "7017283"  %}
  {% when "7017328"%}
    {% assign productCylindoSku = "7013337"  %}
  {% when "7017300"%}
    {% assign productCylindoSku = "7017440"  %}
  {% when "7018565"%}
    {% assign productCylindoSku = "7014871"  %}
  {% when "7022289"%}
    {% assign productCylindoSku = "7017314"  %}
  {% when "7019991"%}
    {% assign productCylindoSku = "7004971"  %}
  {% when "7020904"%}
    {% assign productCylindoSku = "7019934"  %}
  {% when "7015388"%}
    {% assign productCylindoSku = "7015385"  %}
  {% when "7020626"%}
    {% assign productCylindoSku = "7015050"  %}
  {% when "7010274"%}
    {% assign productCylindoSku = "7007356"  %}
  {% when "7016411"%}
    {% assign productCylindoSku = "7015137"  %}
  {% when "7021525"%}
    {% assign productCylindoSku = "7018843"  %}
{% endcase %}

<script>
    var _SKU = "{{productCylindoSku }}"
</script>



{% comment %} {%- capture share_buttons -%}
  {% assign social_image = false %}
  {% if product.featured_image %}
    {% assign social_image = product.featured_image | img_url: '1024x' %}
  {% endif %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    render 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture  -%} {% endcomment %}


{% if onboarding %}
  {% assign compare_at_price = 2999 %}
  {% assign price = 1999 %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{% assign consistent_saved = false %}
{% capture consistent_savings %}
  {%
    render 'consistent-savings',
    variants: product.variants,
    on_sale: on_sale
  %}
{% endcapture %}
{% if consistent_savings contains 'true' %}
  {% assign consistent_saved = true %}
{% endif %}

{% comment %} {%- capture share_buttons -%}
  {% assign social_image = false %}
  {% if product.featured_image %}
    {% assign social_image = product.featured_image | img_url: '1024x' %}
  {% endif %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    render 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture  -%} {% endcomment %}

{% comment %}
/***************************************************************
SE ELIMINAN LOS BOTONES DE OFERTA Y APLICA CREDITO EN ESTA VISTA
                  PATRYKSIM@GMAIL.COM
****************************************************************/
{% endcomment %}
{% assign templateCheck = template %}
<script>
  let templateCheck = {{templateCheck|json}};
  if(templateCheck=="product"){
    document.querySelector(".navmenu-id-i-class-fas-fa-bell-i-ofertas").remove();
    document.querySelector(".navmenu-id-i-class-fas-fa-credit-card-i-aplica-credito").remove();
  }
</script> 

<article class="product--outer">
  {% comment %}
    Product slideshow, never moves
  {% endcomment %}
  {%
    render 'product-gallery-cylindo',
    product: product,
    aspect_ratio: gallery_aspect_ratio,
    thumbnail_position: gallery_thumbnail_position,
    image_crop: gallery_image_crop,
    click_to_zoom: gallery_click_to_zoom,
    hover_zoom: gallery_hover_zoom,
    showCylindo: show_cylindo
  %}
  <div class="product-main">
    <span class="product-sku" data-product-sku="{{sku}}">{{sku}}</span>
    <div class="product-details" data-product-details>
      
   
      {% if is_product_modal %}
        <h2 class="product-title">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a> 
        </h2>
      {% else %}
        {% if template == 'index' %}
          <h2 class="product-title">
            {% else %}
            <h1 class="product-title titulo-producto mt-0 mb-3">
              {% endif %}
              {% unless onboarding %}
              {{ product.title }}
              {% else %}
              {{ 'onboarding.product.title' | t }}
              {% endunless %}
              {% if template == 'index' %}
              </h2>
            {% else %}

            </h1>
        {% endif %}
      {% endif %}
      {% if settings.product_show_vendor and product.vendor != blank or onboarding %}
        <div class="product-vendor">
          {% unless onboarding %}
            {%- capture vendor_link -%}
              {{ product.vendor | link_to_vendor }}
            {%- endcapture -%}

            {{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}
          {% else %}
            {{ 'onboarding.product.by_vendor' | t }}
          {% endunless %}
        </div>
      {% endif %}

      
      {% comment %} <div class="sku-plus-ratings">
        {% if settings.product_show_sku == true %}
          {% unless onboarding %}
            <div
              class="
                product-sku
                {% if sku == empty %}product-sku--empty{% endif %}
             ">
              {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
            </div>
          {% endunless %}
        {% endif %}
        {% if settings.product_ratings_reviews %}
          <div class="product-ratings">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
              <span class="spr-badge">
                <span class="spr-starrating spr-badge-starrating">
                  <i class="spr-icon spr-icon-star-empty"></i>
                  <i class="spr-icon spr-icon-star-empty"></i>
                  <i class="spr-icon spr-icon-star-empty"></i>
                  <i class="spr-icon spr-icon-star-empty"></i>
                  <i class="spr-icon spr-icon-star-empty"></i>
                </span>
              </span>
            </span>
          </div>
        {% endif %}
      </div> {% endcomment %}


      <div class="product-pricing" aria-live="polite">
        {% comment %} {%
          render 'product-badge',
          class_root: 'product',
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: true
        %} {% endcomment %}

        {%
          render 'product-price-alternate',
          class_root: 'product',
          price: price,
          price_varies: false,
          compare_at_price: compare_at_price,
          compare_at_price_varies: false,
          on_sale: on_sale,
          emphasize_price: false,
          show_original: true
          product_url: product_url
        %}
      </div>
      
      {% comment %} /*************************************************************************
                      SE AGREGO NOTA PRECIO CON IMPUESTO INCLUIDO
                               PATRYKSIM@GMAIL.COM
      *************************************************************************/ {% endcomment %}
      {% comment %} <div class="producto-observacion">
        <p>Todos nuestros productos incluyen impuestos</p>
      </div> {% endcomment %}
      
      
    </div>
    
    {% comment %}
      Product form original location, will remain unless is 3 column layout
    {% endcomment %}
    <div class="product-form--regular" data-product-form-regular>
      <div data-product-form-area>
        {% if is_product_modal %}
          <div data-product-quickshop-message class="product-message--container"></div>
        {% endif %}

        {% unless onboarding %}
          {%
            render 'product-form-alternate',
            product: product,
            selected_variant: selected_variant,
            is_product_modal: is_product_modal,
          %}
        {% endunless %}
        
        {% comment %}
        /*********************************************************
                   OPCION DE PAGO CREDIJAMAR
                     PATRYKSIM@GMAIL.COM
        *********************************************************/
        <div class="producto-observacion pago">
          <p>Si lo quieres a crédito dale clic en el botón PAGAR CON <b class="azul">CREDI</b><b class="rojo">JAMAR</b></p>
          <!--p><i class="far fa-check-square"></i> Diligencia los datos solicitados y selecciona la opción de pago <b class="azul">Credi</b><b class="rojo">Jamar</b></p-->
        </div>
        {% endcomment %}

        
        
        
        
        
        
        
        
        {% if hide_description %}
          <a
             href="{{ product.url | within: collection }}"
             class="product-link"
             data-product-details-link
             >
            {{ 'product.buttons.view_details' | t }}
          </a>
        {% endif %}
      </div>
    </div>

    {% comment %}
      Product description field, never moves
    {% if readmore_split[0] != blank and hide_description != true %}
      <div class="product-description rte" data-product-description>
        {{ readmore_split[0] }}
      </div>
    {% endif %}
    {% endcomment %}

<div class="product-separador-items"> </div>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed product-title-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Descripción
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      {% if readmore_split[0] != blank and hide_description != true %}
          {{ readmore_split[0] }}
      {% endif %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed product-title-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ¿Por qué comprar en Jamar?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        De la fábrica a la puerta de tu casa; te llevamos tus muebles sin un valor extra.
		<br>
        Muebles que cuentan historias, recrean el ambiente ideal para que disfrutes tu casa con nuestros diseños orientados al cliente.
		<br>
        Nos centramos en la calidad. Trabajamos con tecnologías para garantizar productos con durabilidad y mayor confort.
      	
      </div>
    </div>
  </div>
</div>
    








    
    
    
        {% if enable_social_sharing and is_product_modal == false %}
          {{ share_buttons | strip_newlines }}
        {% endif %}
    
        {% comment %}
        /*************************************************************************
                                 LLEVATELO A CREDITO
                                 PATRYKSIM@GMAIL.COM
        *************************************************************************/
        <div class="producto-observacion compralo-credito">
          <a href="https://tarjetizacion.jamar.com.pa/form-one">
            <span><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Tarjeta-CrediJamar-Image-1.png?v=1608142946"></span>
             Llévatelo a Crédito
          </a>
        </div>
      {% endcomment %}

    {% if enable_social_sharing and is_product_modal %}
      {{ share_buttons | strip_newlines }}
    {% endif %}
  </div>

  {% comment %}
    If is a 3 column layout, the form will move here at $bp-large (layout.isBreakpoint('L'))
  {% endcomment %}
  {% if layout == 'layout--three-col' %}
    <div class="product-form--alt" data-product-form-alt></div>
  {% endif %}
  
</article>

<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

{% if readmore_split[1] != blank and hide_description != true and is_product_modal != true %}
  <div class="product-readmore rte" data-product-readmore>
    {{ readmore_split[1] }}
  </div>
{% endif %}






