{% comment %}
  @param class_root {String}
    Base class root

  @param price {Number}
    product.price

  @param price_varies {Bool}
    product.price_varies

  @param compare_at_price {Number}
    product.compare_at_price

  @param compare_at_price_varies {Bool}
    Displays a range price is a product's variants have differing prices

  @param on_sale {Bool}
    If a product, or one of it's variants is on sale

  @param emphasize_price {Bool}
    Used in product grid item to add placeholder space

  @param show_original {Bool}
    Show original price if is consistent across all variants
{% endcomment %}

<div class="{{ class_root }}--price {% if compare_at_price_varies %}price--varies{% endif %}">
   <!--p><b>Precio</b></p--> 
  <div
    class="price--compare-at {% if emphasize_price or on_sale and show_original %}visible{% endif %}"
    data-price-compare-at
  >
    {%- capture price_html -%}
      <span class="visually-hidden">{{ 'product.item.price.original' | t }}</span>
      <span class="money">
        {{ compare_at_price | money }}
      </span>
    {%- endcapture -%}

    {% if compare_at_price_varies and on_sale and show_original %}
      {{ 'product.item.price.range_html' | t: price: price_html | strip_newlines }}
    {% elsif on_sale and show_original %}
      {{ price_html }}
    {% elsif emphasize_price %}
      <span class="price--spacer"></span>
    {% elsif show_original %}
      <span class="money"></span>
    {% endif %}
  </div>
  
  
  <div class="price--main" data-price>
    {%- capture price_html -%}
      <span class="money">
        {{ price | money }}
      </span>
    {%- endcapture -%}

    {% if price_varies %}
      {{ 'product.item.price.range_html' | t: price: price_html | strip_newlines }}
    {% else %}
      {% if on_sale and show_original %}
        <span class="visually-hidden">{{ 'product.item.price.current' | t }}</span>
      {% endif %}
      {{ price_html }}
    {% endif %}
  </div>

 {% comment %}
 /*******************************************
    SE AGREGÓ EL SELECT DE PLAN A CRÉDITO
             PATRYKSIM@GMAIL.COM
 ********************************************/
 {% endcomment %}
  
  {% if variant == null %}
  	{% capture variant %}<span class="product-sku" data-product-sku>{{ product.selected_or_first_available_variant.sku }}</span>{% endcapture %}
  {% else %}
  	{% capture variant %}<span class="product-sku" data-product-sku>{{ variant.sku }}</span>{% endcapture %}
  {% endif %}

  <section class="planes-de-credito">
    <div class="product-detail-credit">
      <p><b>Con Credijamar</b></p>
      <div class="grid-container">
        <div>
          <div class="form-field-select-wrapper">
            <select id="credit-select" class="precio-credijamar form-field-input form-field-select form-field-filled">
              <option value="16" selected="selected">
                16 Meses
              </option>
              <option value="24">
                24 Meses
              </option>
              <option value="40">
                40 Meses
              </option>
            </select>
            <label class="form-field-title">
              Selecciona tu plan: 
            </label>
            {% render 'icon-chevron-down-small' %}
          </div> 
        </div> 
        <div class="couta-semanal">
          <p>Cuota semanal de: <span class="azul">$</span><span class="azul" id="cuota-semanal"></span></p>
        </div>
      </div>
    </div>
  </section>
 
  {% comment %}
  /**********************************************************
            VARIABLE PARA EL SERVICIO DE PRECIO
                   PATRYKSIM@GMAIL.COM
  **********************************************************/
  {% endcomment %}
    
<script>

    document.getElementById("credit-select").value = "24";

    /* CONTABILIZAMOS LA CANTIDAD DE VARIANTES PARA LLENAR EL ARRAY DE PRODUCTS
    EN LA VARIABLE DEL SERVICIO Y SE INICIALIZA LA VARIABLE QUE SE VA A ENVIAR AL SERVICIO */

    let variants = {{ product.variants | json }};
    let sendToService = {
      "agency": "C2",
      "groups":["A","G"],
      "skus":[],
      "fees":["16","24","40"],
      "saleTypes":["TJ","CO"]
    };
    for (i = 0; i < Object.keys(variants).length; i++) {
      sendToService.skus.push( variants[i].sku );
    }
    sendToService =  JSON.stringify(sendToService);

    function apiPrices(dataPoduct){
      return new Promise( (resolve, reject) => {
        fetch("https://8wrhzmlo68.execute-api.us-east-1.amazonaws.com/api/v1/JP/prices", {
          method: 'POST',
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(dataPoduct)
        })
        .then( data => data.json() )
        .then( data => resolve(data))
        .catch( err => reject(err) )
      })
    };
    
    
    /* VARIABLE QUE GUARDA EL NOMBRE DE LA VARIANTE Y SU SKU RELACIONADO */
    let variantsCon = [
    ];

    for (i = 0; i < Object.keys(variants).length; i++) {
      let temp = {"sku":variants[i].sku,"name":variants[i].option1};
      variantsCon.push( temp );
    }

    /*SKU DE LA VARIABLE SELECCIONADA ESTO TAMBIEN ES UNA VARIABLE GLOBAL*/
    skuProduct = {{variant|json}};
    skuProduct = skuProduct.replace('<span class="product-sku" data-product-sku>','');
    skuProduct = skuProduct.replace('</span>','');


    var resposeData = []; 
    function enviar(){
	
      let variants = {{ product.variants | json }};
      let sendToService = {
        "groups":["A","G"],
        "skus":[],
        "fees":["16","24","40"],
        "saleTypes":["TJ","CR"]
      };
      for (i = 0; i < Object.keys(variants).length; i++) {
        sendToService.skus.push( variants[i].sku );
      }

      apiPrices(sendToService)
      .then( info => {

        resposeData = info;
        const btnEvent = document.getElementById("credit-select");
        const btnTwo = document.querySelector(".selectVariant");

        // Llamo la funcion por pimera vez

        crediJamarPrecios("24", skuProduct,null, info);  
        
        btnEvent.addEventListener("change", (e) => {
          crediJamarPrecios(e.target.value, skuProduct,null, info);                 
        });

        btnTwo.addEventListener("change", (e) => {

          document.getElementById("credit-select").value = "24";
          crediJamarPrecios("24",null,e.target.value, info); 
        })

      })
      .catch( err => {
        console.log("error", err)
      })
    }

    enviar();

    function crediJamarPrecios(cou,ref1,ref2, response ) {
      console.log(response);
      
      /**********************************************************
      *             RETAIL ROCKET CONTENIDO PERSONALIZADO
      *                   PATRYKSIM@GMAIL.COM
      **********************************************************/

      /**********************************************************
      *          FIN RETAIL ROCKET CONTENIDO PERSONALIZADO
      *                   PATRYKSIM@GMAIL.COM
      **********************************************************/
      

      let skuSelectedprices = null;
      let skuFilter = (x,value) => { return x.filter((dataLine)=>dataLine.sku === value) };
      let cuotaFilter = (x,value) => { return x.filter((dataLine)=>dataLine.cuotas === Number(value) && dataLine.data.tven === "TJ" && dataLine.data.c_age === "C2") };
      if(ref2==null){
        skuSelectedprices = skuFilter(response,ref1);
      } else {
        console.log(ref2);
        let findSkuOption = (x,value) => { return x.filter((dataLine)=>dataLine.name === value) };
        skuNuevo = findSkuOption(variantsCon,ref2)[0].sku;
        skuSelectedprices = skuFilter(response,skuNuevo);
      }   

      let cuota = cuotaFilter(skuSelectedprices[0].precios,cou);
      document.getElementById("cuota-semanal").innerHTML = cuota[0].data.cuota_sem;

    }

  </script>
  {% comment %}
  /**********************************************************
            FIN VARIABLE PARA EL SERVICIO DE PRECIO
                   PATRYKSIM@GMAIL.COM
  **********************************************************/
  {% endcomment %}

  
  {% capture total_quantity %}<span class="product--total-quantity" data-total-quantity>{{ variant.unit_price_measurement.quantity_value }}{{ variant.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
  {% capture unit_price %}<span class="product--unit-price-amount money" data-unit-price-amount>{{ variant.unit_price | money }}</span>{% endcapture %}
  {% capture unit_measure %}<span class="product--unit-price-measure" data-unit-price-measure>{%- if variant.unit_price_measurement.reference_value != 1 -%}{{ variant.unit_price_measurement.reference_value }}{%- endif %}{{ variant.unit_price_measurement.reference_unit }}</span>{% endcapture %}

  <div
    class="
      product--unit-price
      {% unless variant.unit_price_measurement %}hidden{% endunless %}
    "
    data-unit-price
  >
    {{ 'product.item.price.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
  </div>

  {%- capture tax_text -%}
    {{ 'product.item.price.tax_line_html' | t }}
  {%- endcapture -%}

  {%- if tax_text != blank and class_root != 'productitem' -%}
    <div class="
        product--tax
        {% unless variant.taxable %}hidden{% endunless %}
      "
      data-tax-line
    >
      {{ tax_text }}
    </div>
  {%- endif -%}
</div>
