{% comment %}
  @param class_root {String}
    Base class root

  @param price {Number}
    product.price

  @param price_varies {Bool}
    product.price_varies

  @param compare_at_price {Number}
    product.compare_at_price

  @param compare_at_price_varies {Bool}
    Displays a range price is a product's variants have differing prices

  @param on_sale {Bool}
    If a product, or one of it's variants is on sale

  @param emphasize_price {Bool}
    Used in product grid item to add placeholder space

  @param show_original {Bool}
    Show original price if is consistent across all variants
{% endcomment %}

<div class="{{ class_root }}--price {% if compare_at_price_varies %}price--varies{% endif %} d-flex flex-column">
   <!--p><b>Precio</b></p--> 
 
  
  
  <div class="price--main mb-3" data-price>

    {% comment %} {% if price_varies %}
      {{ 'product.item.price.range_html' | t: price: price_html | strip_newlines }}
    {% else %}
      {% if on_sale and show_original %}
        <span class="visually-hidden">{{ 'product.item.price.current' | t }}</span>
      {% endif %}
      {{ price_html }}
    {% endif %} {% endcomment %}

    <span class="money me-2">
      <del class="precio-comp-text fw-bold"> {{ compare_at_price | money }} </del>
    </span>
    
    <span class="
        {%  if template == "product" %} product-main-price {% endif %}
        {%  if template == "collection.alternate" or template == "collection.alternate-banner" %}titulo-tarjeta-producto{% endif %}">
          {{ price | money }}
    </span>

      {%
          render 'product-badge-alternate',
          class_root: 'productitem',
          product_collection: product_collection,
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: consistent_saved,
          sku: sku
        %}
  </div>

 

   {% comment %} <div
    class="price--compare-at {% if emphasize_price or on_sale and show_original %}visible{% endif %}"
    data-price-compare-at
  >
    {%- capture price_html -%}
      <span class="visually-hidden">{{ 'product.item.price.original' | t }}</span>
      <span class="money">
       <u> {{ compare_at_price | money }} </u>
      </span>
    {%- endcapture -%}

    {% if compare_at_price_varies and on_sale and show_original %}
      {{ 'product.item.price.range_html' | t: price: price_html | strip_newlines }}
    {% elsif on_sale and show_original %}
      {{ price_html }}
    {% elsif emphasize_price %}
      <span class="price--spacer"></span>
    {% elsif show_original %}
      <span class="money"></span>
    {% endif %}
  </div> {% endcomment %}

 {% comment %}
 /*******************************************
    SE AGREGÓ EL SELECT DE PLAN A CRÉDITO
             PATRYKSIM@GMAIL.COM
 ********************************************/
 {% endcomment %}
  
  {% if variant == null %}
  	{% capture variant %}<span class="product-sku" data-product-sku>{{ product.selected_or_first_available_variant.sku }}</span>{% endcapture %}
  {% else %}
  	{% capture variant %}<span class="product-sku" data-product-sku>{{ variant.sku }}</span>{% endcapture %}
  {% endif %}

  <section class="planes-de-credito">
    <ul class="visually-hidden">
      <li id="12-meses"></li>
      <li id="16-meses"></li>
      <li id="24-meses"></li>
      <li id="40-meses"></li>
    </ul>
    <div class="product-detail-credit">
      <p class="mb-2">Cuota semanal desde <b>$<span  id="cuota-semanal"></span></b> con 
        <span>
          <a class="text-azul-jamar pe-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-1">
            <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/credijamar.svg">
          </a>
        </span>
      </p>
      <div class="product-separador-items"> </div>
          <div class="container-select">
            <label class="">Cuota a:</label>
            <select id="credit-select" class="precio-credijamar form-field-input form-field-select form-field-filled bg-transparent text-center ps-2">
              <option value="12">
                12 Meses
              </option>
              <option value="16">
                16 Meses
              </option>
              <option value="24" selected="selected">
                24 Meses
              </option>
              <option value="40">
                40 Meses
              </option>
            </select>
            <hr>
          </div>
      </div>
  </section>

  
{% comment %}   
  {% if template contains 'collection' %}
    <h6 class="precio-itbms-msg"> Nuestros precios incluyen itmbs </h6>
  {% endif %}

 
MEJORANDO LA PRESENTACION DEL SERVICIO DE PRECIO
-------------------------------------------------
Renderiza condicionalmente el HTML a usar en el servicio de precios
{% endcomment %}
{% if template != "product.alternate"%}
  <button class="btn-enlace position-absolute start-0 ms-3 mb-3 d-none">
   <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.27262 9.21136C4.49855 9.21136 4.68171 9.02777 4.68171 8.8013C4.68171 8.57483 4.49855 8.39124 4.27262 8.39124C4.04668 8.39124 3.86353 8.57483 3.86353 8.8013C3.86353 9.02777 4.04668 9.21136 4.27262 9.21136Z" stroke="#404B5A" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8.77262 9.21136C8.99855 9.21136 9.18171 9.02777 9.18171 8.8013C9.18171 8.57483 8.99855 8.39124 8.77262 8.39124C8.54668 8.39124 8.36353 8.57483 8.36353 8.8013C8.36353 9.02777 8.54668 9.21136 8.77262 9.21136Z" stroke="#404B5A" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M1 0.599976H2.63636L3.73273 6.09077C3.77014 6.27956 3.8726 6.44915 4.02218 6.56985C4.17176 6.69055 4.35892 6.75467 4.55091 6.75098H8.52727C8.71926 6.75467 8.90643 6.69055 9.056 6.56985C9.20558 6.44915 9.30805 6.27956 9.34545 6.09077L10 2.65031H3.04545" stroke="#404B5A" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
   Comprar Ahora</button>
{% endif %}

   
 
  {% comment %}
  /**********************************************************
            VARIABLE PARA EL SERVICIO DE PRECIO
                   PATRYKSIM@GMAIL.COM
  **********************************************************/
  {% endcomment %}
    
<script>

    document.getElementById("credit-select").value = "24";

    /* CONTABILIZAMOS LA CANTIDAD DE VARIANTES PARA LLENAR EL ARRAY DE PRODUCTS
    EN LA VARIABLE DEL SERVICIO Y SE INICIALIZA LA VARIABLE QUE SE VA A ENVIAR AL SERVICIO */

    let variants = {{ product.variants | json }};
    let sendToService = {
      "agency": "C2",
      "groups":["A","G"],
      "skus":[],
      "fees":["12","16","24","40"],
      "saleTypes":["TJ","CO"]
    };
    for (i = 0; i < Object.keys(variants).length; i++) {
      sendToService.skus.push( variants[i].sku );
    }
    sendToService =  JSON.stringify(sendToService);

    function apiPrices(dataPoduct){
      return new Promise( (resolve, reject) => {
        fetch("https://8wrhzmlo68.execute-api.us-east-1.amazonaws.com/api/v1/JP/prices", {
          method: 'POST',
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(dataPoduct)
        })
        .then( data => data.json() )
        .then( data => resolve(data))
        .catch( err => reject(err) )
      })
    };
    
    
    /* VARIABLE QUE GUARDA EL NOMBRE DE LA VARIANTE Y SU SKU RELACIONADO */
    let variantsCon = [];

    for (i = 0; i < Object.keys(variants).length; i++) {
      let temp = {"sku":variants[i].sku,"name":variants[i].option1};
      variantsCon.push( temp );
    }

{% comment %} 
EXTRACCIÓN DEL SKU DE LA VARIANTE PARA ENVIAR AL SERVICIO DE PRECIOS
---------------------------------------------------------------------
Extracciòn en HTML para posteriormente enviarlo al servicio de precios y reemplazarl texto 
para hacer un innerHTML
{% endcomment %}



    /*SKU DE LA VARIABLE SELECCIONADA ESTO TAMBIEN ES UNA VARIABLE GLOBAL*/
    skuProduct = {{variant|json}};
    skuProduct = skuProduct.replace('<span class="product-sku" data-product-sku>','');
    skuProduct = skuProduct.replace('</span>','');
  
    var resposeData = []; 
    function enviar(){
	
      let variants = {{ product.variants | json }};
      let sendToService = {
        "groups":["A","G"],
        "skus":[],
        "fees":["12","16","24","40"],
        "saleTypes":["TJ","CR"]
      };
      for (i = 0; i < Object.keys(variants).length; i++) {
        sendToService.skus.push( variants[i].sku );
      }

      apiPrices(sendToService)
      .then( info => {

        resposeData = info;
        const btnEvent = document.getElementById("credit-select");
        const btnTwo = document.querySelector(".selectVariant");

        // Llamo la funcion por pimera vez

        crediJamarPrecios("24", skuProduct,null, info);  
        
        btnEvent.addEventListener("change", (e) => {
          crediJamarPrecios(e.target.value, skuProduct,null, info);                 
        });

        btnTwo.addEventListener("change", (e) => {

          document.getElementById("credit-select").value = "24";
          crediJamarPrecios("24",null,e.target.value, info); 
        })

      })
      .catch( err => {
        console.log("error", err)
      })
    }

    enviar();

    function crediJamarPrecios(cou,ref1,ref2, response ) {
      //console.log(response);

      let skuSelectedprices = null;
      let skuFilter = (x,value) => { return x.filter((dataLine)=>dataLine.sku === value) };
      let cuotaFilter = (x,value) => { return x.filter((dataLine)=>dataLine.cuotas === Number(value) && dataLine.data.tven === "TJ" && dataLine.data.c_age === "C2") };
      if(ref2==null){
        
        skuSelectedprices = skuFilter(response,ref1);
        
      } else {
        console.log(ref2);
        let findSkuOption = (x,value) => { return x.filter((dataLine)=>dataLine.name === value) };
        skuNuevo = findSkuOption(variantsCon,ref2)[0].sku;
        skuSelectedprices = skuFilter(response,skuNuevo);
      }   
      

      document.getElementById("12-meses").innerHTML = cuotaFilter(skuSelectedprices[0].precios,"12")[0].data.cuota_sem;
      document.getElementById("16-meses").innerHTML = cuotaFilter(skuSelectedprices[0].precios,"16")[0].data.cuota_sem;
      document.getElementById("24-meses").innerHTML = cuotaFilter(skuSelectedprices[0].precios,"24")[0].data.cuota_sem;
      document.getElementById("40-meses").innerHTML = cuotaFilter(skuSelectedprices[0].precios,"40")[0].data.cuota_sem;

      

      let cuota = cuotaFilter(skuSelectedprices[0].precios,cou);
      document.getElementById("cuota-semanal").innerHTML = cuota[0].data.cuota_sem;

    }

  </script>
  {% comment %}
  /**********************************************************
            FIN VARIABLE PARA EL SERVICIO DE PRECIO
                   PATRYKSIM@GMAIL.COM
  **********************************************************/
  {% endcomment %}
  
 

  
  {% capture total_quantity %}<span class="product--total-quantity" data-total-quantity>{{ variant.unit_price_measurement.quantity_value }}{{ variant.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
  {% capture unit_price %}<span class="product--unit-price-amount money" data-unit-price-amount>{{ variant.unit_price | money }}</span>{% endcapture %}
  {% capture unit_measure %}<span class="product--unit-price-measure" data-unit-price-measure>{%- if variant.unit_price_measurement.reference_value != 1 -%}{{ variant.unit_price_measurement.reference_value }}{%- endif %}{{ variant.unit_price_measurement.reference_unit }}</span>{% endcapture %}

  <div
    class="
      product--unit-price
      {% unless variant.unit_price_measurement %}hidden{% endunless %}
    "
    data-unit-price
  >
    {{ 'product.item.price.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
  </div>

  {%- capture tax_text -%}
    {{ 'product.item.price.tax_line_html' | t }}
  {%- endcapture -%}

  {%- if tax_text != blank and class_root != 'productitem' -%}
    <div class="
        product--tax
        {% unless variant.taxable %}hidden{% endunless %}
      "
      data-tax-line
    >
      {{ tax_text }}
    </div>
  {%- endif -%}
</div>
