<br><br><br>
<div class="container">
  <div class="row flex-column-reverse {% if section.settings.invertir_col == true  %} flex-md-row-reverse {% else %}flex-md-row {% endif %}">
    <div class="col-12 col-md-5 mt-2 mt-md-0 d-flex flex-column align-self-center justify-content-center">
      <h2 class="text-gris-jamar m-0 text-center text-md-start">{{ section.settings.title }}</h2>
      <p class="text-gris-jamar mt-2 text-center text-md-start">{{ section.settings.text }}</p>
    </div>
    <div class="col-12 col-md-7 p-xs-0 align-self-center text-end">
    	<div id="carouselExampleControls--{{ section.id }}" class="carousel slide" data-bs-ride="carousel">
	        <div class="carousel-inner position-static">
	          {% for block in section.blocks %}
	            <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
                  {% if block.settings.product != blank %}
                    <a href="{{ block.settings.product.url }}">
                        <img class="w-100" src="{{ block.settings.image | img_url:'master' }}">
                    </a>
                    <a href="{{ block.settings.product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                        <img class="m-0 p-1" width="25" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
                    </a>
                  {% else %}
                    <img class="w-100" src="{{ block.settings.image | img_url:'master' }}">
                  {% endif %}
	            </div>
	          {% endfor %}
	        </div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls--{{ section.id }}" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls--{{ section.id }}" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
      </div>
	</div>
</div>


<style type="text/css">


</style>

{% schema %}
  {
    "name": "Carrusel y texto",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titulo"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      },
      {	
        "type": "checkbox",
        "id": "invertir_col",
        "label": "Invertir orden de columnas",
        "default": false
      }
    ],
  "blocks": [
     {
       "name": "Imagen",
       "type": "imagen",
       "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagen"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Producto"
          }
       ]
     }
   ],
      "presets": [
        {
        "name": "Carrusel y texto"
        }
      ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}
