<div class="d-none d-md-block">
  <br><br><br>
</div>
<div class="container-fluid" style="background-image: url('https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Backgroud-colchones.png'); background-position: top; background-size: cover;">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 text-center" data-ee-prom="true" data-ee-prom-zone="home-colchon-desktop" data-ee-prom-name="Colchon Ideal" data-ee-prom-position="home-colchon-1" data-ee-prom-process="true">
      <br><br><br><br><br><br>
      <h2 class="text-gris-jamar m-0">{{ section.settings.heading_text }}</h2>
      <br>
      <!--p class="text-gris-jamar mt-2 fs-5">Estrena colch칩n con el mejor precio y <b>sin cuota inicial</b></p-->
      <a class="text-gris-jamar" href="{{ section.settings.link }}">
        <button type="button" class="btn bg-light-gris-jamar border border-1 border-secondary rounded-pill text-gris-jamar ps-4 pe-4 mb-4">{{ section.settings.button_text }}</button>
      </a>
      <img class="d-none d-md-block m-auto" src="{{ section.settings.image_small | img_url:'master' }}" loading="lazy"  >
    </div>
    <div class="col-12 col-md-7 align-self-center text-center">
      <img class="m-auto" src="{{ section.settings.image_big | img_url:'master' }}" loading="lazy">
    </div>
  </div>
  </div>
</div>


{% schema %}
  {
    "name": "Colchones home",
    "settings": [
      {
        "id": "heading_text",
        "type": "text",
        "label": "Text",
        "default": "Heading"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Enlace del bot칩n"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Text",
        "default": "Texto del bot칩n"
      },
      {
        "type": "image_picker",
        "id": "image_small",
        "label": "Imagen peque침a"
      },
      {
        "type": "image_picker",
        "id": "image_big",
        "label": "Imagen grande"
      }
    ],
      "presets": [
        {
        "name": "Colchones home"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}