<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center text-gris-jamar">{{ section.settings.title }}</h2>
      <p class="text-gris-jamar mt-2 text-center">{{ section.settings.text }}</p>
    </div>
  </div>
  <div class="row">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'imagen' %}
          <div class="col-{{ block.settings.mobile_width }} col-md-{{ block.settings.desktop_width }} mt-4 {% if block.settings.padding_mobile_0 == true %}p-xs-0{% endif %}">
            <a href="{{ block.settings.link }}">
              <img class="d-none d-md-block" alt="{{ block.settings.image_desktop.alt}}" src="{{ block.settings.image_desktop | img_url:'master' }}" loading="lazy">
              <img class="d-block d-md-none" alt="{{ block.settings.image_desktop.alt}}" loading="lazy"
                  src="{% if block.settings.image_mobile != blank %}
                          {{ block.settings.image_mobile | img_url:'master' }}
                       {% else %}
                          {{ block.settings.image_desktop | img_url:'master' }}
                       {% endif %}" >
            </a>
            <a class="text-gris-jamar a-coleccion" style="font-weight:600" href="{{ block.settings.link }}">{{ block.settings.title }}</a>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

<style type="text/css">
  .a-coleccion {
    font-weight: 600;
  }
  @media (max-width: 768px) {
    .a-coleccion {
      font-size: 14px;
    }
  }
</style>

{% schema %}
{
  "name": "Colecciones home",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titulo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Texto"
    }
  ],
  "blocks": [
     {
       "name": "Imagen",
       "type": "imagen",
       "settings": [
         {
           "type": "image_picker",
           "id": "image_desktop",
           "label": "Image desktop"
         },
         {
           "type": "image_picker",
           "id": "image_mobile",
           "label": "Image mobile"
         },
        {
          "type": "text",
          "id": "title",
          "label": "Titulo"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "range",
          "id": "mobile_width",
          "min": 6,
          "max": 12,
          "step": 1,
          "label": "Ancho mobile",
          "default": 6
        },
        {
          "type": "checkbox",
          "id": "padding_mobile_0",
          "label": "Padding mobile 0",
          "default": false
        },
        {
          "type": "range",
          "id": "desktop_width",
          "min": 4,
          "max": 12,
          "step": 2,
          "label": "Ancho desktop",
          "default": 4
        }
       ]
     }
   ],
  "presets": [
     {
       "name": "Colecciones home",
       "settings": {
          "title": "Colecciones home"
        },
       "blocks": [
         {
           "type": "imagen"
         }
       ]
     }
   ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
