{{ 'collection-grid-products.css'  | asset_url | stylesheet_tag }}

<div class="container-titles">
<h5> {{ section.settings.title_text }} </h5>
</div>
<div class="contenedor-carousel-ultima-seccion">


{% for product in section.blocks  %}
    <a class="product-item-ultima-seccion" href="{{ product.settings.enlace_producto }}">
        <img src="{{product.settings.imagen | image_url : width: auto}}">
        <h6>{{ product.settings.title }}</h6>
        <span>Lo quiero</span>
    </a>
{% endfor %}





    <div class="container-ultima-seccion-cta">
        <a class="cta" href="#">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 15V1" stroke="#4E4E4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 8L8 1L15 8" stroke="#4E4E4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
                
            Volver a leer</a>
    </div>

    </div>
    
    
    
    {% schema %}
    {
       "name":"Grid Productos",
       "class":"section-grid-productos",
       "settings": [
        {
            "type":"text",
            "id":"title_text",
            "label":"Titulo de la seccion"
        }
       ],  
       "blocks": [
            {
            "name": "Producto",
            "type": "imagen",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Titulo Producto"
                },
                {
                    "type": "image_picker",
                    "id": "imagen",
                    "label": "Imagen producto"
                },
                {
                    "type": "url",
                    "id": "enlace_producto",
                    "label": "Enlace producto"
                }
            ]
            }
        ],
       "presets":[
        {
            "name":"Grid Productos"
        }
       ]
    }
    {% endschema %}