<section  class="collection-section">
  <div class="grid image-with-text-1 {{ section.settings.collection }}">
    <div class="item-a text-side">
      <h3>{{ section.settings.subheading_text }}</h3>
      <h2>{{ section.settings.heading_text }}</h2>
      {{ section.settings.open_text }}
      <svg width="32" height="27" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.16604 17.7499L21.8995 35.3691L39.5186 17.7499" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2.16604 1.80801L21.8995 19.4272L39.5186 1.80801" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="item-b image-side">
      <img src="{{ section.settings.image | img_url:'master' }}" alt="Header-Image">
      <a href="{{ section.settings.link_1 }}">
        <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
      </a>
    </div>
  </div>
  <div class="grid image-grid {{ section.settings.collection }}">
    <div class="item-a image-side">
      <img src="{{ section.settings.grid1_image_1 | img_url:'master' }}">
      <a href="{{ section.settings.link_2 }}">
        <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
      </a>
    </div>
    <div class="item-b image-side">
      <img src="{{ section.settings.grid1_image_2 | img_url:'master' }}">
      <a href="{{ section.settings.link_3 }}">
        <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
      </a>
    </div>
    <div class="item-c text-side">
      <h2>{{ section.settings.grid1_heading_text }}</h2>
        {{ section.settings.grid1_text }}
    </div>
    <div class="item-d image-side">
      <img src="{{ section.settings.grid1_image_3 | img_url:'master' }}">
      <a href="{{ section.settings.link_4 }}">
        <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
      </a>
    </div>
    <div class="item-e image-side">
      <img src="{{ section.settings.grid1_image_4 | img_url:'master' }}">
      <a href="{{ section.settings.link_5 }}">
        <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
      </a>
    </div>
  </div>
  <div class="image-grid-2 {{ section.settings.collection }}">
    <div class="text-side">
      <h2>{{ section.settings.grid2_heading_text }}</h2>
      {{ section.settings.grid2_text }}
    </div>
    <div class="grid image-side">
      <div class="item-a image-side">
        <img src="{{ section.settings.grid2_image_1 | img_url:'master' }}">
        <a href="{{ section.settings.link_6 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-b image-side">
        <img src="{{ section.settings.grid2_image_2 | img_url:'master' }}">
        <a href="{{ section.settings.link_7 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-c image-side">
        <img src="{{ section.settings.grid2_image_3 | img_url:'master' }}">
        <a href="{{ section.settings.link_8 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-d image-side">
        <img src="{{ section.settings.grid2_image_4 | img_url:'master' }}">
        <a href="{{ section.settings.link_9 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-e image-side">
        <img src="{{ section.settings.grid2_image_5 | img_url:'master' }}">
        <a href="{{ section.settings.link_10 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-f image-side">
        <img src="{{ section.settings.grid2_image_6 | img_url:'master' }}">
        <a href="{{ section.settings.link_11 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-g image-side">
        <img src="{{ section.settings.grid2_image_7 | img_url:'master' }}">
        <a href="{{ section.settings.link_12 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
    </div>
  </div>
  <div class="image-with-text-3 {{ section.settings.collection }}">
    <div class="text-side">
      <p>{{ section.settings.open3_text }}</p>
    </div>
    <div class="grid image-side">
      <div class="item-a image-side">
        <img src="{{ section.settings.image_1 | img_url:'master' }}">
        <a href="{{ section.settings.link_13 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-b image-side">
        <img src="{{ section.settings.image_2 | img_url:'master' }}">
        <a href="{{ section.settings.link_14 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-c image-side">
        <img src="{{ section.settings.image_3 | img_url:'master' }}">
        <a href="{{ section.settings.link_15 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-d image-side">
        <img src="{{ section.settings.image_4 | img_url:'master' }}">
        <a href="{{ section.settings.link_16 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-e image-side">
        <img src="{{ section.settings.image_5 | img_url:'master' }}">
        <a href="{{ section.settings.link_17 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-f image-side">
        <img src="{{ section.settings.image_6 | img_url:'master' }}">
        <a href="{{ section.settings.link_18 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
    </div>
  </div>
  <div class="grid image-with-text-overlap-1">
    <div class="item-a image-side">
      <img src="{{ section.settings.ov1_image_1 | img_url:'master' }}" alt="Header-Image">
    </div>
    <div class="item-b text-side style-moderno-glam">
      <h3>{{ section.settings.ov1_subheading }}</h3>
      <h4>{{ section.settings.ov1_heading }}</h4>
      <hr>
    </div>
    <div class="item-c image-side">
      <img src="{{ section.settings.ov1_image_2 | img_url:'master' }}" alt="Header-Image">
    </div>
    <div class="item-d">
      <p>{{ section.settings.ov1_text_2 }}</p>
    </div>
  </div>
  <div class="image-grid-2 {{ section.settings.collection }}">
    <div class="text-side">
      <h2>{{ section.settings.grid3_heading_text }}</h2>
      {{ section.settings.grid3_text }}
    </div>
    <div class="grid image-side">
      <div class="item-a image-side">
        <img src="{{ section.settings.grid3_image_1 | img_url:'master' }}">
        <a href="{{ section.settings.link_21 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-b image-side">
        <img src="{{ section.settings.grid3_image_2 | img_url:'master' }}">
        <a href="{{ section.settings.link_22 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-c image-side">
        <img src="{{ section.settings.grid3_image_3 | img_url:'master' }}">
        <a href="{{ section.settings.link_23 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-d image-side">
        <img src="{{ section.settings.grid3_image_4 | img_url:'master' }}">
        <a href="{{ section.settings.link_24 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-e image-side">
        <img src="{{ section.settings.grid3_image_5 | img_url:'master' }}">
        <a href="{{ section.settings.link_25 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-f image-side">
        <img src="{{ section.settings.grid3_image_6 | img_url:'master' }}">
        <a href="{{ section.settings.link_26 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
      <div class="item-g image-side">
        <img src="{{ section.settings.grid3_image_7 | img_url:'master' }}">
        <a href="{{ section.settings.link_27 }}">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
        </a>
      </div>
    </div>
  </div>
  <div class="grid collections">
    <div class="item-a text-side">
      <h2>{{ section.settings.heading_collection }}</h2>
    </div>
    <div class="item-b image-side">
      <img src="{{ section.settings.collection_image_1 | img_url:'master' }}" alt="Header-Image">
    </div>
    <div class="item-c text-side collection-natural">
      <h3>COLECCIÓN</h3>
      <h2>{{ section.settings.heading_collection_1 }}</h2>
      {{ section.settings.text_collection_1 }}<br>
      <button><a href="{{ section.settings.collection_link_1 }}">Ver más <i class="fas fa-chevron-right"></i></a></button>
    </div>
    <div class="item-d text-side collection-silver">
      <h3>COLECCIÓN</h3>
      <h2>{{ section.settings.heading_collection_2 }}</h2>
      {{ section.settings.text_collection_2 }}<br>
      <button><a href="{{ section.settings.collection_link_2 }}">Ver más <i class="fas fa-chevron-right"></i></a></button>
    </div>
    <div class="item-e image-side">
      <img src="{{ section.settings.collection_image_2 | img_url:'master' }}" alt="Header-Image">
    </div>
  </div>
  <div class="grid image-with-newsletter {{ section.settings.collection }}">
    <div class="item-a image-side">
      <img src="{{ section.settings.image_style_newsletter | img_url:'master' }}" alt="Header-Image">
    </div>
    <div class="item-b text-side">
      <h2>{{ section.settings.heading_style_newsletter }}</h2>
      <p>{{ section.settings.text_style_newsletter }}</p>
      <div class="newsletter">
        {% form 'customer', id: form_id %}
        {% if form.posted_successfully? %}
        <p class="newsletter-success">
          {{ 'general.newsletter.success' | t }}
        </p>
        {% else %}
        <input
               type="hidden"
               name="contact[tags]"
               value="{{ newsletter_tags }}"
               >
        <div class="form-fields-inline ">
          <div class="form-field name">
            <input
                   class="form-field-input form-field-text"
                   name="contact[note][Nombre]"
                   id="{{ input_name }}"
                   type="text"
                   aria-label="nombre"
                   >
            <label
                   class="form-field-title"
                   for="{{ input_name }}"
                   >
              Nombre *
            </label>
          </div>
          <div class="form-field tel">
            <input
                   class="form-field-input form-field-text"
                   name="contact[note][Nombre]"
                   id="{{ input_tel }}"
                   type="tel"
                   aria-label="telefono"
                   >
            <label
                   class="form-field-title"
                   for="{{ input_tel }}"
                   >
              Telefono *
            </label>
          </div>
          <div class="form-field email">
            <input
                   class="form-field-input form-field-text"
                   name="contact[email]"
                   id="{{ input_id }}"
                   type="email"
                   aria-label="{{ 'general.newsletter.placeholder' | t }}"
                   >
            <label
                   class="form-field-title"
                   for="{{ input_id }}"
                   >
              {{ 'general.newsletter.placeholder' | t }}
            </label>
          </div>
          <div class="form-field">
            <button
                    name="subscribe"
                    type="submit"
                    >
              Enviar
            </button>
          </div>
        </div>
        {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "collection-royal",
  "settings": [
    {
      "type": "select",
      "id": "collection",
      "label": "Selecciona la colección",
      "options": [
        {
        "value": "collection-mystic",
        "label": "Coleccion Mystic"
        },
        {
        "value": "collection-natural",
        "label": "Coleccion Natural"
        },
        {
        "value": "collection-play",
        "label": "Coleccion Play"
        },
        {
        "value": "collection-royal",
        "label": "Coleccion Royal"
        },
        {
        "value": "collection-silver",
        "label": "Coleccion Silver"
        },
        {
        "value": "collection-tempo",
        "label": "Coleccion Tempo"
        }
      ],
      "default": "collection-mystic"
    },
    {
      "id": "subheading_text",
      "type": "text",
      "label": "Text",
      "default": "Subheading"
    },
    {
      "id": "heading_text",
      "type": "text",
      "label": "Text",
      "default": "Heading"
    },
    {
      "id": "open_text",
      "type": "richtext",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "id": "link_1",
      "type": "url",
      "label": "Product link 1"
    },
    {
      "type": "image_picker",
      "id": "grid1_image_1",
      "label": "Image Grid 1"
    },
    {
      "id": "link_2",
      "type": "url",
      "label": "Product link 2"
    },
    {
      "type": "image_picker",
      "id": "grid1_image_2",
      "label": "Image Grid 2"
    },
    {
      "id": "link_3",
      "type": "url",
      "label": "Product link 3"
    },
    {
      "id": "grid1_heading_text",
      "type": "text",
      "label": "Text",
      "label": "Heading"
    },
    {
      "id": "grid1_text",
      "type": "richtext",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "grid1_image_3",
      "label": "Image Grid 3"
    },
    {
      "id": "link_4",
      "type": "url",
      "label": "Product link 4"
    },
    {
      "type": "image_picker",
      "id": "grid1_image_4",
      "label": "Image Grid 4"
    },
    {
      "id": "link_5",
      "type": "url",
      "label": "Product link 5"
    },
    {
      "id": "grid2_heading_text",
      "type": "text",
      "label": "Text",
      "label": "Heading"
    },
    {
      "id": "grid2_text",
      "type": "richtext",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "grid2_image_1",
      "label": "Image Grid 1"
    },
    {
      "id": "link_6",
      "type": "url",
      "label": "Product link 6"
    },
    {
      "type": "image_picker",
      "id": "grid2_image_2",
      "label": "Image Grid 2"
    },
    {
      "id": "link_7",
      "type": "url",
      "label": "Product link 7"
    },
    {
      "type": "image_picker",
      "id": "grid2_image_3",
      "label": "Image Grid 3"
    },
    {
      "id": "link_8",
      "type": "url",
      "label": "Product link 8"
    },
    {
      "type": "image_picker",
      "id": "grid2_image_4",
      "label": "Image Grid 4"
    },
    {
      "id": "link_9",
      "type": "url",
      "label": "Product link 9"
    },
    {
      "type": "image_picker",
      "id": "grid2_image_5",
      "label": "Image Grid 5"
    },
    {
      "id": "link_10",
      "type": "url",
      "label": "Product link 10"
    },
    {
      "type": "image_picker",
      "id": "grid2_image_6",
      "label": "Image Grid 6"
    },
    {
      "id": "link_11",
      "type": "url",
      "label": "Product link 11"
    },
    {
      "type": "image_picker",
      "id": "grid2_image_7",
      "label": "Image Grid 7"
    },
    {
      "id": "link_12",
      "type": "url",
      "label": "Product link 12"
    },
    {
      "id": "open3_text",
      "type": "richtext",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "id": "link_13",
      "type": "url",
      "label": "Product link 13"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "id": "link_14",
      "type": "url",
      "label": "Product link 14"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    },
    {
      "id": "link_15",
      "type": "url",
      "label": "Product link 15"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    },
    {
      "id": "link_16",
      "type": "url",
      "label": "Product link 16"
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Image 5"
    },
    {
      "id": "link_17",
      "type": "url",
      "label": "Product link 17"
    },
    {
      "type": "image_picker",
      "id": "image_6",
      "label": "Image 6"
    },
    {
      "id": "link_18",
      "type": "url",
      "label": "Product link 18"
    },
    {
      "type": "image_picker",
      "id": "ov1_image_1",
      "label": "Image OV 1"
    },
    {
      "type": "image_picker",
      "id": "ov1_image_2",
      "label": "Image OV 2"
    },
    {
      "id": "ov1_subheading",
      "type": "text",
      "label": "Text",
      "label": "Sub Heading"
    },
    {
      "id": "ov1_heading",
      "type": "text",
      "label": "Text",
      "label": "Heading"
    },
    {
      "id": "ov1_text_2",
      "type": "richtext",
      "label": "Text"
    },
    {
      "id": "grid3_heading_text",
      "type": "text",
      "label": "Text",
      "label": "Heading"
    },
    {
      "id": "grid3_text",
      "type": "richtext",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "grid3_image_1",
      "label": "Image Grid 1"
    },
    {
      "id": "link_21",
      "type": "url",
      "label": "Product link 21"
    },
    {
      "type": "image_picker",
      "id": "grid3_image_2",
      "label": "Image Grid 2"
    },
    {
      "id": "link_22",
      "type": "url",
      "label": "Product link 22"
    },
    {
      "type": "image_picker",
      "id": "grid3_image_3",
      "label": "Image Grid 3"
    },
    {
      "id": "link_23",
      "type": "url",
      "label": "Product link 23"
    },
    {
      "type": "image_picker",
      "id": "grid3_image_4",
      "label": "Image Grid 4"
    },
    {
      "id": "link_24",
      "type": "url",
      "label": "Product link 24"
    },
    {
      "type": "image_picker",
      "id": "grid3_image_5",
      "label": "Image Grid 5"
    },
    {
      "id": "link_25",
      "type": "url",
      "label": "Product link 25"
    },
    {
      "type": "image_picker",
      "id": "grid3_image_6",
      "label": "Image Grid 6"
    },
    {
      "id": "link_26",
      "type": "url",
      "label": "Product link 26"
    },
    {
      "type": "image_picker",
      "id": "grid3_image_7",
      "label": "Image Grid 7"
    },
    {
      "id": "link_27",
      "type": "url",
      "label": "Product link 27"
    },
    {
      "id": "heading_collection",
      "type": "text",
      "label": "Text",
      "default": "Heading Collection"
    },
    {
      "id": "heading_collection_1",
      "type": "text",
      "label": "Text",
      "default": "Heading Collection 1"
    },
    {
      "id": "text_collection_1",
      "type": "text",
      "label": "Text",
      "label": "Text collection 1"
    },
    {
      "id": "collection_link_1",
      "type": "url",
      "label": "Collection link 1"
    },
    {
      "type": "image_picker",
      "id": "collection_image_1",
      "label": "Image Collection 1"
    },
    {
      "id": "heading_collection_2",
      "type": "text",
      "label": "Text",
      "default": "Heading Collection 2"
    },
    {
      "id": "text_collection_2",
      "type": "text",
      "label": "Text",
      "label": "Text collection 2"
    },
    {
      "id": "collection_link_2",
      "type": "url",
      "label": "Collection link 2"
    },
    {
      "type": "image_picker",
      "id": "collection_image_2",
      "label": "Image Collection 2"
    },
    {
      "type": "image_picker",
      "id": "image_style_newsletter",
      "label": "Image newsletter"
    },
    {
      "id": "heading_style_newsletter",
      "type": "text",
      "label": "Text",
      "default": "Heading newsletter"
    },
    {
      "id": "text_style_newsletter",
      "type": "text",
      "label": "Text",
      "label": "Text newsletter"
    }
   ]
}
{% endschema %}