<br><br><br>
<div class="container-fluid position-relative d-flex align-items-center p-0">
  <div class="position-absolute d-none d-md-block bg-medium-gris-jamar w-100 h-75"></div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 d-flex flex-column align-self-center justify-content-center">
      <h2 class="text-gris-jamar m-0 text-center text-md-start">{{ section.settings.title }}</h2>
      <p class="text-gris-jamar mt-2 text-center text-md-start">{{ section.settings.text }}</p>
      <a class="text-gris-jamar w-fit m-auto m-md-0" href="{{ section.settings.link }}">
        <button type="button" class="btn bg-medium-gris-jamar border border-1 bg-transparent border-secondary rounded-pill text-gris-jamar ps-4 pe-4 pb-2 mb-md-0 mb-3">{{ section.settings.button_text }}</button>
      </a>
    </div>
    <div class="col-12 col-md-8 p-xs-0 align-self-center text-end">
      <div id="carouselColores" class="carousel slide d-flex flex-column-reverse flex-md-row pointer-event" data-bs-ride="carousel">
        <div class="carousel-indicators position-static align-self-center d-flex d-md-grid m-3">
          {% for block in section.blocks %}
              <button type="button" data-bs-target="#carouselColores" data-bs-slide-to="{{ forloop.index | minus: 1 }}" style="background-image: url({{ block.settings.indicator | img_url:'master' }});" class="{% if forloop.index == 1 %}active{% endif %} rounded-circle mt-1 mb-1 border-1" aria-current="true" aria-label="Slide {{ forloop.index }}">
            </button>
          {% endfor %}
        </div>
        <div class="carousel-inner position-static">
          {% for block in section.blocks %}
            <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
              <a href="{{  block.settings.product.url }}">
                <img src="{{ block.settings.image_desktop | img_url:'master' }}" loading="lazy" class="d-none d-sm-block" alt="...">
                <img src="{{ block.settings.image_mobile | img_url:'master' }}" loading="lazy" class="d-block d-sm-none w-100" alt="...">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<style type="text/css">
  .carousel-indicators .active {
    border: 1px solid black !important;
  }
  .carousel-indicators [data-bs-target] {
    height: 48px;
    width: 48px;
    opacity: 1;
  }

</style>

{% schema %}
  {
    "name": "Colores home",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titulo"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Enlace del botón"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Text",
        "default": "Texto del botón"
      }
    ],
  "blocks": [
     {
       "name": "Imagen",
       "type": "imagen",
       "settings": [
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Image desktop 758 x 500"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image mobile 375 x 320"
          },
          {
            "type": "image_picker",
            "id": "indicator",
            "label": "Indicator"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Producto"
          }
       ]
     }
   ],
      "presets": [
        {
        "name": "Colores home"
        }
      ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}
