{% comment %} Refactorizar {% endcomment %}
{{ 'novedades.css'  | asset_url | stylesheet_tag }}
<div class="row justify-content-center">
  <div class="col-12">
    <a class="main-text--ofertas text-decoration-none d-none d-md-flex" href="{{ section.settings.url | url }}" style="background-image: url({{ section.settings.image_desktop | image_url }});">
      {%  if section.settings.titulo %}
        <p class="text-center">{{ section.settings.titulo }}</p>
        <p class="text-center">{{ section.settings.subtitulo }}</p>
      	<img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/flechas-abajo.svg?v=1656610483" alt="" />
      {%  endif %}
    </a>
    <a class="main-text--ofertas text-decoration-none d-flex d-md-none" href="{{ section.settings.url | url }}" style="background-image: url({{ section.settings.image_movil | image_url }});">
      {%  if section.settings.titulo %}
        <p class="text-center">{{ section.settings.titulo }}</p>
        <p class="text-center">{{ section.settings.subtitulo }}</p>
      	<img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/flechas-abajo.svg?v=1656610483" alt="" />
      {%  endif %}
    </a>
  </div>
</div>



{% schema %}
{
  "name": "Banner solo imagen",
  "tag": "section",
  "class":"container-fluid p-0",
    "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Imagen desktop"
    },
    {
      "type": "image_picker",
      "id": "image_movil",
      "label": "Imagen móvil"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link de la imagen"
    },
    {
      "type": "text",
      "id": "titulo",
      "label": "Ingresar el titulo"
    },
    {
      "type": "text",
      "id": "subtitulo",
      "label": "Ingresar el subtitulo"
    },
    {
      "type": "text",
      "id": "sectionname",
      "label": "Colocar etiqueta para tagging Google"
    }
  ],
  "presets": [
     {
       "name": "Banner only one"       
     }
   ]
}
{% endschema %}
