<div id="sucursalesCarrousel" class="carousel slide carousel" data-bs-ride="carousel">
    <button class="btn-position next"><img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1645203994/IMAGENES/JAMAR/icon-arrow_in6s8i.svg" alt=""></button>
    <button class="btn-position back"><img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1645203994/IMAGENES/JAMAR/icon-arrow_in6s8i.svg" alt=""></button>
    <div class="carousel-inner">
    {% for block in section.blocks %}
      <div data-increment={% increment numero_slide %} class="carousel-item {% if numero_slide == 1 %} active {% endif %}">
        {% if block.settings.mostrarcap %}
            <div class="container-titles">
                <span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.37742 4.6887C8.37742 7.80759 4.36742 10.4809 4.36742 10.4809C4.36742 10.4809 0.357422 7.80759 0.357422 4.6887C0.357422 3.62518 0.779903 2.60522 1.53192 1.8532C2.28394 1.10118 3.3039 0.678699 4.36742 0.678699C5.43094 0.678699 6.4509 1.10118 7.20292 1.8532C7.95494 2.60522 8.37742 3.62518 8.37742 4.6887Z" stroke="white" stroke-width="0.438628" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.36767 6.0254C5.10589 6.0254 5.70434 5.42695 5.70434 4.68873C5.70434 3.95051 5.10589 3.35206 4.36767 3.35206C3.62945 3.35206 3.03101 3.95051 3.03101 4.68873C3.03101 5.42695 3.62945 6.0254 4.36767 6.0254Z" stroke="white" stroke-width="0.438628" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{block.settings.textoimage}}</span>
                <h1>{{block.settings.parraforefuerzo}}</h1>
            </div>
        {% endif %}
            <a href="{{ block.settings.enlaceslide }}">
                <picture>
                    <source srcset='{{block.settings.imagenmovil | image_url: width:600 }}' media='(max-width: 600px)'>
                    <img class="img-fluid" src='{{block.settings.imagen | image_url: width:1920 }}' alt='{{block.settings.image_picker.alt}}'>
                </picture>
            </a>
        </div>
    {% endfor %}
    </div>
        <div class="container-indicators"></div>
</div>




{% schema %}

{
    "name":"Slideshow",
    "tag":"div",
    "class":"sucursal",
    "settings": [
    {
      "type": "text",
      "id": "clase_personalizada",
      "label": "Colocar titulo de sección",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "checkbox",
      "id": "mostrarcap",
      "label": "Mostrar Textos",
      "default": false
    }
    ],
    "blocks": [
    {
        "name" : "imagen",
        "type": "imagen",
        "settings": [
        {
            "type": "image_picker",
            "id": "imagen",
            "label": "Imagen para Desktop"
        },
        {
            "type": "image_picker",
            "id": "imagenmovil",
            "label": "Imagen para Movil"
        },
        {
            "type": "text",
            "id": "textoimage",
            "label": "Texto principal"
        },
        {
            "type": "text",
            "id": "parraforefuerzo",
            "label": "Texto bajo la imagen"
        },
        {
            "type": "url",
            "id": "enlaceslide",
            "label": "Seleccione el enlace"
        },
        {
          "type": "checkbox",
          "id": "mostrarcap",
          "label": "Mostrar Textos",
          "default": false
        },
		{
          "type": "range",
          "id": "overlay",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "px",
          "label": "Overlay",
          "default": 1
        }
        ]
    }

    ],
    "presets": [
        {
            "name": "Slide Sucursal",
            "category": "Landings"
        }
    ]
}



{% endschema %}
    


{% stylesheet %}

    #sucursalesCarrousel button.btn-position {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all .6s;
    display: flex;
    position: absolute;
    top: 48%;
    box-shadow: 0 0 4px #a5a5a5;
    }

    @media (max-width: 650px) {
    #sucursalesCarrousel button.btn-position {
        width: 30px;
        height: 30px;
    }
    }

    #sucursalesCarrousel button.btn-position img {
    width: 10px;
    }

    @media (max-width: 650px) {
    #sucursalesCarrousel button.btn-position img {
        width: 9px;
        height: 9px;
    }
    }

    #sucursalesCarrousel button.btn-position.next {
    right: 20px;
    }

    #sucursalesCarrousel button.btn-position.back {
    left: 20px;
    }

    #sucursalesCarrousel button.btn-position.back img {
    transform: rotate(-180deg);
    }

    #sucursalesCarrousel:hover button.btn-position {
    opacity: 1;
    transition: all .6s;
    }

    .container-indicators {
    z-index: 2;
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 10px;
    }

    .container-indicators .indicador {
        width: 10px;
        height: 10px;
        opacity: .6;
        cursor: pointer;
        background-color: #000;
        border-radius: 50%;
        margin: 0 4px;
        display: block;
        box-shadow: 0 0 2px #fff;
    }

    .container-indicators .indicador.active {
    opacity: 1;
    background-color: #fff;
    border: 1px solid #fff;
    }

    #sucursalesCarrousel .carousel-inner.carousel-item:nth-child(1) .container-titles h1 {
    border-bottom: 4px solid #ec1c24;
    font-size: 52px;
    font-weight: 700;
    }

    @media (max-width: 650px) {
    #sucursalesCarrousel .carousel-inner.carousel-item:nth-child(1) .container-titles h1 {
        border-bottom: 3px solid #ec1c24;
        font-size: 30px;
    }
    }

    #sucursalesCarrousel .carousel-inner.carousel-item:nth-child(1) .container-titles span {
    height: 28px;
    color: #fff;
    text-transform: none;
    background: none;
    border: none;
    border-radius: 26.25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-size: 30px;
    display: inline-flex;
    }

    @media (max-width: 650px) {
    #sucursalesCarrousel .carousel-inner.carousel-item:nth-child(1) .container-titles span {
        height: 22px;
        font-size: 14px;
    }
    }

    #sucursalesCarrousel .carousel-inner.carousel-item:nth-child(1) .container-titles span svg {
    display: none;
    }

    #sucursalesCarrousel .carousel-inner.carousel-item:nth-child(1) a {
    pointer-events: none;
    cursor: none;
    }

    #sucursalesCarrousel .carousel-inner.carousel-item .container-titles {
    z-index: 5;
    position: absolute;
    bottom: 10%;
    left: 10%;
    }

    #sucursalesCarrousel .carousel-inner.carousel-item .container-titles h1 {
    color: #fff;
    letter-spacing: .02em;
    margin-top: px;
    letter-spacing: 0;
    font-size: 52px;
    font-weight: 700;
    }

    @media (max-width: 650px) {
    #sucursalesCarrousel .carousel-inner.carousel-item .container-titles h1 {
        font-size: 22px;
    }
    }

    #sucursalesCarrousel .carousel-inner.carousel-item .container-titles h1 a {
    color: #fff;
    text-decoration: none;
    }

    #sucursalesCarrousel .carousel-inner.carousel-item .container-titles span {
    height: 28px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #404b5ad4;
    border: .75px solid #fff;
    border-radius: 26.25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    font-size: 12px;
    display: inline-flex;
    }

    #sucursalesCarrousel .carousel-inner.carousel-item .container-titles span a {
    color: #fff;
    text-decoration: none;
    }

    @media (max-width: 650px) {
    #sucursalesCarrousel .carousel-inner.carousel-item .container-titles span {
        height: 22px;
        font-size: 10px;
    }
    }
    
{% endstylesheet %}





{% javascript %}

    function slide(tiempo) {
    // declaracion de variables
    var myCarousel = document.querySelector('#sucursalesCarrousel')
    var carousel = new bootstrap.Carousel(myCarousel, {
    interval: tiempo,
    wrap: true,
    touch:true
    })

    // Selectores importantes para el slider
    let btnNext = document.querySelector('#sucursalesCarrousel .next');
    let btnBack = document.querySelector('#sucursalesCarrousel .back');

    // Accionadores de eventos 
    btnNext.addEventListener('click', () => {
        carousel.next() 
    });
    btnBack.addEventListener('click', () => {
        carousel.prev() 
    });


    // Creador de los elementos tipo click 
    let indicadoresPosicion = document.querySelectorAll("#sucursalesCarrousel .carousel-inner #sucursalesCarrousel .carousel-inner.carousel-item");

    // Contenedor de los indicadores de posicion
    let contenedorIndicadores = document.querySelector('.container-indicators');


    // Sentencia para crear el indicador de posicion
    indicadoresPosicion.forEach((element, index) => {
        contenedorIndicadores.innerHTML += 
            `<span class="indicador" data-number-position="${index}"></span>`
    });

    // definir indicadores de posicion 
    let slidePosition = document.querySelectorAll('.container-indicators .indicador');

    // Añadir clase por defecto
    document.querySelector('.container-indicators .indicador').classList.add("active")




    // Obtener el indicador de posicion
    myCarousel.addEventListener('slide.bs.carousel', (e) => {
        // Resetear clases 
        slidePosition.forEach((element, index) => {
            element.classList.remove("active");
        });
        document.querySelector(`[data-number-position="${e.to}"]`).classList.add("active");
    })

    // Ejecutar evento de mover slide
    window.addEventListener('click', (element) => {
        if (element.target.classList.contains("indicador")){
            carousel.to(element.target.dataset.numberPosition)
        }
    })

    // Validar si solo contiene un item
    if(indicadoresPosicion.length < 2) {
        contenedorIndicadores.style.display = "none";
        indicadoresPosicion.style.display = "none";
        btnNext.style.display = "none";
        btnBack.style.display = "none";
        
    }
}

slide(4000);

{% endjavascript %}
