{{ 'novedades.css'  | asset_url | stylesheet_tag }}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-gris-jamar m-0 text-center">{{ section.settings.title }}</h2>
      <p class="text-gris-jamar mt-2 text-center">{{ section.settings.text }}</p>
    </div>
    <center class="col-12">
      <img class="arrow-movil" style="-webkit-animation: mover 1s infinite alternate; animation: mover 1s infinite alternate;" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/flechas-abajo_31763cc1-16d5-43d9-b807-cfece700a06a.svg?v=1669150439">
    </center>
  </div>
</div>

<div class="container d-flex flex-column">
<div class="row">
    <div class="col-12 d-flex justify-content-md-around justify-content-start">
        <div class="container-filters--oferta">
            
            {% for block in section.blocks %}
                <button class="filter--action" data-filter="{{block.settings.filtro_tag}}">{% if block.settings.imagen %}
                    {{block.settings.imagen | img_tag: img_url }}
                {% endif %}
                    {{block.settings.texto}}
                </button>
            {% endfor %} 

        </button>
    </div>
    </div>
</div>

<div class="row justify-content-center gap-3">

    
    {% for product in section.settings.coleccion.products  %}
        {% comment %} <span class="d-none">{% increment variable %}</span> {% endcomment %}

            <div class="tarjeta-producto--mosaic" data-mosaic-sku="{{ product.selected_or_first_available_variant.sku }}" data-product-tags="{{product.tags}}">
                <div class="load-animation"></div>
                <div class="tarjeta-details"><img src="{{product.images[0] | img_url: '800x800', format: 'pjpg' }}" alt="" />


                    <h4 class="product-title mb-1">{{ product.title }}</h4>
                    <p class="prices"><del> {{ product.compare_at_price | money }} </del> {{ product.price | money}}
                        {% if product.compare_at_price %}
                            <span class="badge bg-danger ms-1" style="border-radius: 10px;background-color: #EC1C24;"> {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round}}% Dcto</span>
                        {% endif %}
                    </p>
                    
                    <p class="container-cuota--mosaic"></p>
                    <p class="advertising">NUESTROS PRECIOS INCLUYEN ITMBS</p>
                </div><a href="{{product.url}}" class="btn-comprar"><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icono-carrito.svg?v=1657296910" /> Comprar ahora</a>
            </div>
        
    {% endfor %}



    
</div>
  </div>

{{ 'prices-library.js' | asset_url | script_tag }}

{% comment %}
<div class="container contenedor-cta-formulario--{{section.settings.sectionname}}">
    <div class="row gap-4 overflow-auto flex-nowrap contenedor-scroll">
        {% for product in section.settings.collections.products limit: 10  %}
        <span class="d-none">{% increment variable %}</span>
        {% assign var = product %}
            {% render "tarjeta-producto", producto: {{product}} %}
        {% endfor %}
    </div>
</div>
{% endcomment %}

{% schema %}
{
  "name": "Coleccion con filtros",
  "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titulo"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      },
    {
      "type": "text",
      "id": "sectionname",
      "label": "Colocar etiqueta para tagging Google"
    },
    {
        "type": "collection",
        "id": "coleccion",
        "label": "Seleccionar coleccion"
      }
  ],
  "blocks":[
      {
        "name":"filtros",
        "type":"block",
        "settings": [
            {
                "type": "image_picker",
                "id": "imagen",
                "label": "Icono"
            },
            {
                "type": "text",
                "id": "texto",
                "label": "Texto"
            },
            {
                "type": "text",
                "id": "filtro_tag",
                "label": "Etiqueta a filtrar"
            }
        ]
      }
  ],
  "presets": [
     {
       "name": "Coleccion con filtros"       
     }
   ]
}
{% endschema %}