<br><br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-8">
      <h2 class="text-center text-gris-jamar">{{ section.settings.title_style_cat }}</h2>
      <p class="text-gris-jamar mt-2 text-center">{{ section.settings.parr_style_cat }}</p>
      <br>
    </div>
  </div>
  <div class="row">
      {% for block in section.blocks %}
        <div class="col-6 col-md-3 rounded mb-4">
          <a href="{{ block.settings.enlace }}" class="text-decoration-none">
              <div>
                  <img class="img-cover-catalogo w-100" src="{{ block.settings.imagen | img_url:'master'}}" loading="lazy" class="" alt="..." />
                  <button class="btn bg-light-gris-jamar align-items-center text-decoration-none border-0 rounded-0 rounded-bottom w-100 pt-2 pb-2 pe-0 ps-0">
                    <p class="m-0 text-gris-jamar a-coleccion">{{ block.settings.textoimage }}</p>
                  </button>
              </div>
          </a>
          </div>
      {% endfor %}
      <div class="col-6 col-md-3 rounded mb-4">
          <a href="{{section.settings.button_link}}">
            <button class="btn bg-light-gris-jamar w-100 h-100 align-items-center text-decoration-none border-0 w-100 pt-2 pb-2">
              <p class="m-0 text-gris-jamar a-coleccion">VER TODOS</p>
            </button>
          </a>
      </div>
  </div>
</div>

<style type="text/css">
  .a-coleccion {
    font-weight: 600;
  }
  @media (max-width: 768px) {
    .a-coleccion {
      font-size: 14px;
    }
  }
</style>

{% schema %}

{
    "name":"Subcategorias Grid",
    "tag":"section",
    "settings": [
    {
      "type": "text",
      "id": "title_style_cat",
      "label": "Colocar titulo de sección",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "text",
      "id": "parr_style_cat",
      "label": "Colocar titulo de sección",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Colocar enlace de sección"
    }
    ],
    "blocks": [
    {
        "name" : "imagen",
        "type": "imagen",
        "settings": [
        {
            "type": "image_picker",
            "id": "imagen",
            "label": "Imagen de la tarjeta"
        },
        {
            "type": "text",
            "id": "textoimage",
            "label": "Texto sobre la imagen"
        },
        {
            "type": "text",
            "id": "textpdesc",
            "label": "Texto descriptivo"
        },
        {
            "type": "checkbox",
            "id": "show",
            "label": "Ocultar icono"
        },
        {
            "type": "url",
            "id": "enlace",
            "label": "Agregar enlace"
        }
        ]
    }

    ],
    "presets": [
        {
            "name": "Subcategorias Grid",
            "category": "Categorias"
        }
    ]
}



{% endschema %}