<!-- Duo seguidilla -->
<div class="row mt-4 {{ section.settings.font_class }}">
    <div class="col-8 col-md-4 d-flex align-items-stretch pe-0">
        <div class="position-relative">
            <a {% if section.settings.first_product %}href="{{ section.settings.first_product.url }}"{% endif %}>
                 <img class="img-fluid m-0 pt-4 w-100 h-100" alt="{{ section.settings.first_image_alt }}" src="{{ section.settings.first_image | img_url:'master' }}">
            </a>
            {% if section.settings.first_product %}
              <a href="{{ section.settings.first_product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                  <img class="m-0 p-1" width="30" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
              </a>
            {% endif %}
        </div>
    </div>
    <div class="col-4 col-md-3 d-flex align-items-stretch ps-0">
        <div class="position-relative">
            <a {% if section.settings.second_product %}href="{{ section.settings.second_product.url }}"{% endif %}>
                <img class="img-fluid m-0 pt-4 w-100 h-100" alt="{{ section.settings.second_image_alt }}" src="{{ section.settings.second_image | img_url:'master' }}">
            </a>
            {% if section.settings.second_product %}
              <a href="{{ section.settings.second_product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                  <img class="m-0 p-1" width="30" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
              </a>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-5 align-self-center">
        <p class="">{{ section.settings.text }}</p>
    </div>
</div>
{% schema %}
  {
    "name": "Duo Seguidilla",
    "tag":"section",
    "class":"container pt-4",
    "settings": [
      {
        "type": "select",
        "id": "font_class",
        "label": "Tipo de Letra",
        "options": [
          {
            "value": "style-moderno-glam",
            "label": "Estilo Moderno Glam"
          },
          {
            "value": "style-natural-century",
            "label": "Estilo Natural Century"
          },
          {
            "value": "style-contemporaneo",
            "label": "Estilo Contemporáneo"
          }
        ],
        "default": "style-moderno-glam"
      },
      
      {
        "type": "image_picker",
        "id": "first_image",
        "label": "Primera Imagen"
      },
      {
        "type": "text",
        "id": "first_image_alt",
        "label": "Primera Imagen Alt",
        "default": "Primera Imagen Alt"
      },
      {
        "type": "product",
        "id": "first_product",
        "label": "Primer producto"
      },
      {
        "type": "image_picker",
        "id": "second_image",
        "label": "Segunda Imagen"
      },
      {
        "type": "text",
        "id": "second_image_alt",
        "label": "Segunda Imagen Alt",
        "default": "Segunda Imagen Alt"
      },
      {
        "type": "product",
        "id": "second_product",
        "label": "Segundo producto"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      }

    ],
    "presets": [
        {
          "name": "Duo Seguidilla"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}