

<div class="row mt-4 justify-content-center">
	<div class="col-12 {{ section.settings.font_class }}">
		<h2 class="text-center">{{ section.settings.title }}</h2>
	</div> 
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'collection' %}
          <div class="col-12 col-sm-4">
              <a href="{{ block.settings.col_url }}">
                  <img class="mt-4" src="{{ block.settings.col_image | image_url }}">
              </a>
              <p class="fs-5 pt-2">C O L E C C I Ó N</p>
              <h2 class="mt-0 text-dark fs-1 {{ block.settings.font_col_class }}">{{ block.settings.col_title }}</h2>
              <p class="fs-6">{{ block.settings.col_message }}</p>
              <a class="text-dark fw-bolder text-decoration-underline" href="{{ block.settings.col_url }}"><p class="mb-0">Ver colección</p></a>
          </div>
        {% when 'style' %}
          <div class="col-12 col-sm-4">
              <a href="{{ block.settings.style_url }}">
                  <img class="mt-4" src="{{ block.settings.style_image | image_url }}">
              </a>
              <p class="fs-5 pt-2">E S T I L O</p>
              <h2 class="mt-0 text-dark fs-1 {{ block.settings.font_style_class }}">{{ block.settings.style_title }}</h2>
              <p class="fs-6">{{ block.settings.style_message }}</p>
              <a class="text-dark fw-bolder text-decoration-underline" href="{{ block.settings.style_url }}"><p class="mb-0">Ver colección</p></a>
          </div>
      {% endcase %}
    {% endfor %}
</div>


{% schema %}
  {
    "name": "Lista de col o styles",
    "tag":"section",
    "class":"container pt-4",
    "settings": [ 
      {
        "type": "text",
        "id": "title",
        "label": "Titulo"
      },
      {
        "type": "select",
        "id": "font_class",
        "label": "Tipo de Letra",
        "options": [
          {
            "value": "general",
            "label": "Lato"
          },
          {
            "value": "style-moderno-glam",
            "label": "Estilo Moderno Glam"
          },
          {
            "value": "style-natural-century",
            "label": "Estilo Natural Century"
          },
          {
            "value": "style-contemporaneo",
            "label": "Estilo Contemporáneo"
          },
          {
            "value": "collections-jamar",
            "label": "Colecciones General"
          }
        ],
        "default": "general"
      }
    ],
  "blocks": [
     {
       "name": "Coleccion",
       "type": "collection",
       "settings": [
          {
            "type": "image_picker",
            "id": "col_image",
            "label": "Imagen de coleccion o estilo"
          },
         {
          "type": "select",
          "id": "font_col_class",
          "label": "Tipo de Letra",
          "options": [
            {
              "value": "collection-mystic",
              "label": "Coleccion Mystic"
            },
            {
              "value": "collection-natural",
              "label": "Coleccion Natural"
            },
            {
              "value": "collection-play",
              "label": "Coleccion Play"
            },
            {
              "value": "collection-royal",
              "label": "Coleccion Royal"
            },
            {
              "value": "collection-silver",
              "label": "Coleccion Silver"
            },
            {
              "value": "collection-tempo",
              "label": "Coleccion Tempo"
            }
          ],
          "default": "collection-mystic"
        },
        {
          "type": "text",
          "id": "col_title",
          "label": "Titulo de coleccion"
        },
        {
          "type": "textarea",
          "id": "col_message",
          "label": "Mensaje"
        },
        {
          "type": "page",
          "id": "col_url",
          "label": "Link de coleccion"
        }
       ]
     },
      {
       "name": "Estilo",
       "type": "style",
       "settings": [
          {
            "type": "image_picker",
            "id": "style_image",
            "label": "Imagen de coleccion o estilo"
          },
         {
          "type": "select",
          "id": "font_style_class",
          "label": "Tipo de Letra",
          "options": [
            {
              "value": "style-moderno-glam",
              "label": "Estilo Moderno Glam"
            },
            {
              "value": "style-natural-century",
              "label": "Estilo Natural Century"
            },
            {
              "value": "style-contemporaneo",
              "label": "Estilo Contemporáneo"
            }
          ],
          "default": "style-moderno-glam"
        },
        {
          "type": "text",
          "id": "style_title",
          "label": "Titulo de estilo"
        },
        {
          "type": "textarea",
          "id": "style_message",
          "label": "Mensaje"
        },
        {
          "type": "page",
          "id": "style_url",
          "label": "Link de estilo"
        }
       ]
     }
   ],
    "presets": [
        {
          "name": "Lista de col o styles"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}