<!-- Quinteto -->
<div class="row justify-content-end mt-4 {{ section.settings.font_class }}">
    <div class="col-6 col-sm-6 col-md-4 align-self-end mb-4">
        <div class="position-relative">
            <a {% if section.settings.first_product %}href="{{ section.settings.first_product.url }}"{% endif %}>
                <img class="img-fluid m-0 pt-4 w-100 h-100" alt="{{ section.settings.first_image_alt }}" src="{{ section.settings.first_image | img_url:'master' }}">
            </a>
            {% if section.settings.first_product %}
              <a href="{{ section.settings.second_product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                  <img class="m-0 p-1" width="30" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
              </a>
            {% endif %}
        </div>
      <!--img alt="{{ section.settings.first_image_alt }}" src="{{ section.settings.first_image | img_url:'master' }}"-->
    </div>
    <div class="col-6 col-sm-6 col-md-3 align-self-end mb-4">
        <div class="position-relative">
            <a {% if section.settings.second_product %}href="{{ section.settings.second_product.url }}"{% endif %}>
                <img class="img-fluid m-0 pt-4 w-100 h-100" alt="{{ section.settings.second_image_alt }}" src="{{ section.settings.second_image | img_url:'master' }}">
            </a>
            {% if section.settings.second_product %}
              <a href="{{ section.settings.second_product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                  <img class="m-0 p-1" width="30" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
              </a>
            {% endif %}
        </div>
      <!--img alt="{{ section.settings.second_image_alt }}" src="{{ section.settings.second_image | img_url:'master' }}"-->
    </div>
    <div class="col-12 col-sm-6 col-md-4 align-self-end mb-4">
        <div class="position-relative">
            <a {% if section.settings.third_product %}href="{{ section.settings.third_product.url }}"{% endif %}>
                <img class="img-fluid m-0 pt-4 w-100 h-100" alt="{{ section.settings.third_image_alt }}" src="{{ section.settings.third_image | img_url:'master' }}">
            </a>
            {% if section.settings.third_product %}
              <a href="{{ section.settings.third_product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                  <img class="m-0 p-1" width="30" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
              </a>
            {% endif %}
        </div>
      <!--img alt="{{ section.settings.third_image_alt }}" src="{{ section.settings.third_image | img_url:'master' }}"-->
    </div>
    <div class="col-12 col-sm-6 col-md-5 mb-4">
        <h2 class="mt-5 text-dark">{{ section.settings.title }}</h2>
        <p>{{ section.settings.text }}</p>
    </div>
    <div class="col-6 col-sm-6 col-md-4 align-self-start">
        <div class="position-relative">
            <a {% if section.settings.fourth_product %}href="{{ section.settings.fourth_product.url }}"{% endif %}>
                <img class="img-fluid m-0 pt-4 w-100 h-100" alt="{{ section.settings.fourth_image_alt }}" src="{{ section.settings.fourth_image | img_url:'master' }}">
            </a>
            {% if section.settings.fourth_product %}
              <a href="{{ section.settings.fourth_product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                  <img class="m-0 p-1" width="30" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
              </a>
            {% endif %}
        </div>
      <!--img alt="{{ section.settings.fourth_image_alt }}" src="{{ section.settings.fourth_image | img_url:'master' }}"-->
    </div>
    <div class="col-6 col-sm-6 col-md-3 align-self-start">
        <div class="position-relative">
            <a {% if section.settings.fifth_product %}href="{{ section.settings.fifth_product.url }}"{% endif %}>
                <img class="img-fluid m-0 pt-4 w-100 h-100" alt="{{ section.settings.fifth_image_alt }}" src="{{ section.settings.fifth_image | img_url:'master' }}">
            </a>
            {% if section.settings.fifth_product %}
              <a href="{{ section.settings.fifth_product.url }}" class="position-absolute img-linked bottom-0 d-flex justify-content-center end-0 mr-4 mb-3 rounded-circle p-1 bg-white">
                  <img class="m-0 p-1" width="30" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Untitled_design_3.png?v=1641233166">
              </a>
            {% endif %}
        </div>
      <!--img alt="{{ section.settings.fifth_image_alt }}" src="{{ section.settings.fifth_image | img_url:'master' }}"-->
    </div>
</div>
{% schema %}
  {
    "name": "Quinteto",
    "tag":"section",
    "class":"container pt-4",
    "settings": [
      
      {
        "type": "select",
        "id": "font_class",
        "label": "Tipo de Letra",
        "options": [
          {
            "value": "style-moderno-glam",
            "label": "Estilo Moderno Glam"
          },
          {
            "value": "style-natural-century",
            "label": "Estilo Natural Century"
          },
          {
            "value": "style-contemporaneo",
            "label": "Estilo Contemporáneo"
          }
        ],
        "default": "style-moderno-glam"
      },
      {
        "type": "image_picker",
        "id": "first_image",
        "label": "Primera Imagen"
      },
      {
        "type": "text",
        "id": "first_image_alt",
        "label": "Primera Imagen Alt",
        "default": "Primera Imagen Alt"
      },
      {
        "type": "product",
        "id": "first_product",
        "label": "Primer producto"
      },
      {
        "type": "image_picker",
        "id": "second_image",
        "label": "Segunda Imagen"
      },
      {
        "type": "text",
        "id": "second_image_alt",
        "label": "Segunda Imagen Alt",
        "default": "Segunda Imagen Alt"
      },
      {
        "type": "product",
        "id": "second_product",
        "label": "Segundo producto"
      },
      {
        "type": "image_picker",
        "id": "third_image",
        "label": "Tercera Imagen"
      },
      {
        "type": "text",
        "id": "third_image_alt",
        "label": "Tercera Imagen Alt",
        "default": "Tercera Imagen Alt"
      },
      {
        "type": "product",
        "id": "third_product",
        "label": "Tercer producto"
      },
      {
        "type": "image_picker",
        "id": "fourth_image",
        "label": "Cuarta Imagen"
      },
      {
        "type": "text",
        "id": "fourth_image_alt",
        "label": "Cuarta Imagen Alt",
        "default": "Cuarta Imagen Alt"
      },
      {
        "type": "product",
        "id": "fourth_product",
        "label": "Cuarto producto"
      },
      {
        "type": "image_picker",
        "id": "fifth_image",
        "label": "Quinta Imagen"
      },
      {
        "type": "text",
        "id": "fifth_image_alt",
        "label": "Quinta Imagen Alt",
        "default": "Quinta Imagen Alt"
      },
      {
        "type": "product",
        "id": "fifth_product",
        "label": "Quinto producto"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titulo"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      }
    ],
    "presets": [
        {
          "name": "Quinteto"
        }
      ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}