<!-- Par Superpuesto 1 -->
<div class="position-relative mt-4 {{ section.settings.font_class }}">
    <div class="row"> 
        <div class="col-12 col-sm-6 col-md-4">
            <img alt="{{ section.settings.back_image_alt }}" src="{{ section.settings.back_image | img_url:'master' }}">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <h2 class="text-dark ">{{ section.settings.title_top }}</h2>
            <p>{{ section.settings.text_top }}</p>
            <hr>
            <p class="d-block d-lg-none">{{ section.settings.text_bottom }}</p>
        </div>
    </div>
    <div class="row justify-content-center position-absolute top-50 d-none d-lg-flex pt-4"> 
        <div class="col-12 col-sm-3">
            <img alt="{{ section.settings.front_image_alt }}" src="{{ section.settings.front_image | img_url:'master' }}">
        </div>
        <div class="col-12 col-sm-4">
            <p class="justify">{{ section.settings.text_bottom }}</p>
        </div>
    </div>
</div>
<div class="d-none d-sm-block">
    <br><br><br>
</div>
 
{% schema %}
  {
    "name": "Par Supuesto 1",
    "tag":"section",
    "class":"container pt-4",
    "settings": [
      {
        "type": "select",
        "id": "font_class",
        "label": "Tipo de Letra",
        "options": [
          {
            "value": "style-moderno-glam",
            "label": "Estilo Moderno Glam"
          },
          {
            "value": "style-natural-century",
            "label": "Estilo Natural Century"
          },
          {
            "value": "style-contemporaneo",
            "label": "Estilo Contempor치neo"
          }
        ],
        "default": "style-moderno-glam"
      },
      
      {
        "type": "image_picker",
        "id": "back_image",
        "label": "Imagen de Atr치s"
      },
      {
        "type": "text",
        "id": "back_image_alt",
        "label": "Imagen de Atr치s Alt",
        "default": "Imagen de Atr치s Alt"
      },

      {
        "type": "image_picker",
        "id": "front_image",
        "label": "Imagen de Frente"
      },
      {
        "type": "text",
        "id": "front_image_alt",
        "label": "Imagen de Frente Alt",
        "default": "Imagen de Frente Alt"
      },
      {
        "type": "text",
        "id": "title_top",
        "label": "Titulo tope"
      },
      {
        "type": "text",
        "id": "text_top",
        "label": "Texto tope"
      },
      {
        "type": "text",
        "id": "text_bottom",
        "label": "Texto bottom"
      }

    ],
    "presets": [
        {
          "name": "Par Supuesto 1"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}