{% comment %} Inicio de la sección de descanso  ###LISTO {% endcomment %}
{% render 'custom-separator' %}
        <div class="row justify-content-center">
                <h2 class="text-center lato-titulos mb-0"> {{ section.settings.main_title}} </h2>
                <p class="text-center col-10 col-md-8 lato-parrafo parrafo-descanso"> {{section.settings.subtitle}} </p>
                <div class="col-md-12 col-11">
                    <div class="row justify-content-center gx-md-1">
                       {% for block in section.blocks %}
                      	<span class="d-none">{% increment contador %}</span>
                            {% assign b = block.settings %}
                           <div class="col-md-4 d-flex justify-content-center">
                                <div class="container-img-group position-relative mb-md-0 espacio-b-groups-colchones">
                                    <a href="{{b.enlace1}}" class="tag-cta-banner-combo-{{contador}}">
                                    <div class="position-relative mb-2">
                                            <p class="position-absolute bottom-0 text-white parrafo-groups-colchones">{{b.title}}</p>
                                            {{ b.imagen1 | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img_descanso_group' }}
                                    </div>
                                    </a>
                                        <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643135816/IMAGENES/JAMAR/COLCHONES/svg_icon_plus_flq04n.svg" alt="" class="position-absolute  svg_icon_descanso">
                                    <a href="{{b.enlace2}}" class="tag-cta-banner-combo-{{contador}}1">
                                    <div class="position-relative">
                                            <p class="position-absolute text-white bottom-0 parrafo-groups-colchones">{{b.title2}}</p>
                                            {{ b.imagen2 | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img_descanso_group' }}
                                    </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
{% comment %} Fin de la sección de descanso {% endcomment %}

{% schema %}

{
    "name":"Seccion Card 2",
    "tag":"section",
    "class":"container section-banners-combos",
    "max_blocks": 3,
    "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Colocar titulo del Hero",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Colocar titulo del Hero",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    }
    ],
    "blocks": [
        {
        "name" : "B Tamano",
        "type": "block",
        "settings": [
            {
                "type": "image_picker",
                "id": "imagen1",
                "label": "Imagen de arriba"
            },
            {
                "type": "image_picker",
                "id": "imagen2",
                "label": "Imagen de abajo"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Titulo arriba"
            },
            {
                "type": "text",
                "id": "title2",
                "label": "Titulo abajo"
            },
            {
                "type": "url",
                "id": "enlace1",
                "label": "Enlace de arriba"
            },
            {
                "type": "url",
                "id": "enlace2",
                "label": "Enlace de abajo"
            }
            ]
        }
    ],
    "presets": [
        {
            "name": "Grid Card Img",
            "category": "Colchones"
        }
    ]
}

{% endschema %}