{% comment %}
/******************************************************************
Creando estilos de las diferentes tarjetas de tama침os para los productos
******************************************************************/
{% endcomment %}
<style>
    .card-sizes {
            height: 80px;
            background-color: #F6F6F6;
        }
        
        .btn-enlace {
            display: block;
            border: 1px solid black;
            width: 100px;
            border-radius: 20px;
        }
</style>
{% render 'custom-separator' %}
    <div class="row justify-content-center">
        <h2 class="text-center lato-titulos col-10">{{ section.settings.title_style_cat }} </h2>
            {% if section.settings.main_description != "" %}
                <p class="lato-parrafos parrafo-descanso text-center col-10 mt-0 fw-normal">{{ section.settings.parr_style_cat }}</p>
            {% endif %}
    </div>
    <div class="row justify-content-start justify-content-md-center gx-3 overflow-auto flex-nowrap">
        {% for block in section.blocks %}
            {% assign bloque = block.settings %}
            <div class="{% if template == "page.salas" %}col-md-2{% else %}col-md-4{% endif %} col-10">
            <a href="{{bloque.enlace}}">
                {{ bloque.imagen | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid w-100' }}
            </a>
                <div class="d-flex justify-content-center align-items-center flex-column card-sizes">
                    <h6 class="text-center m-0 p-0 lato-parrafo fw-bold">{{ bloque.textoimage }}</h6>
                    <p class="text-center m-0 p-0 lato-parrafo fw-normal"> <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1645203994/IMAGENES/JAMAR/icon_rule_lfoc5l.svg" alt="" class="me-3
                    {% if bloque.show == true %}d-none{% endif %}"> {{ bloque.textpdesc }}</p>
                </div>
            </div> 
            
        {% endfor %}
    </div>

    <div class="row justify-content-center">
            <a class="btn btn-enlace mt-4 d-flex align-items-center" href="{{ section.settings.button_link }}">Ver todos 
            </a>
    </div>

{% schema %}

{
    "name":"Grid Promo Siz",
    "tag":"section",
    "class":"container",
    "settings": [
    {
      "type": "text",
      "id": "title_style_cat",
      "label": "Colocar titulo de secci칩n",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "text",
      "id": "parr_style_cat",
      "label": "Colocar titulo de secci칩n",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Colocar enlace de secci칩n"
    }
    ],
    "blocks": [
    {
        "name" : "imagen",
        "type": "imagen",
        "settings": [
        {
            "type": "image_picker",
            "id": "imagen",
            "label": "Imagen de la tarjeta"
        },
        {
            "type": "text",
            "id": "textoimage",
            "label": "Texto sobre la imagen"
        },
        {
            "type": "text",
            "id": "textpdesc",
            "label": "Texto descriptivo"
        },
        {
            "type": "checkbox",
            "id": "show",
            "label": "Ocultar icono"
        },
        {
            "type": "url",
            "id": "enlace",
            "label": "Agregar enlace"
        }
        ]
    }

    ],
    "presets": [
        {
            "name": "Grid Promo Siz",
            "category": "Categorias"
        }
    ]
}



{% endschema %}