
<div class="container mt-80">
    <div class="row contenedor-alcobas flex-md-row flex-column justify-content-md-center align-items-center">
      {% for block in section.blocks %}
        <a class="card-alcobas--cta" href="{{block.settings.enlace}}">
          <p>{{block.settings.text_product}}</p>
          <p>{{block.settings.text_product2}}</p>
          <button>{{block.settings.boton}}</button>
          <picture>
            <source srcset="{{ block.settings.imagen | image_url }}" media="(min-width: 600px)">
            <img src="{{block.settings.imagenmovil | image_url }}" class="w-100"/>
          </picture>
        </a>
      {% endfor %}
    </div>
</div>


{% schema %}
{
  "name": "Grid Banners 3",
  "tag": "section",
  "class":"container-fluid p-0",
    "settings": [
    {
      "type": "text",
      "id": "titulo",
      "label": "Ingresar el titulo"
    },
    {
      "type": "text",
      "id": "sectionname",
      "label": "Colocar etiqueta para tagging Google"
    }
  ],
  "blocks":[
    {
      "name":"card",
      "type":"block",
      "settings":[
        {
          "type":"text",
          "id":"text_product",
          "label":"Texto de la tarjeta 1"
        },
        {
          "type":"text",
          "id":"text_product2",
          "label":"Texto de la tarjeta 2"
        },
        {
          "type":"text",
          "id":"boton",
          "label":"Texto del botón",
          "default":"Ver producto"
        },
        {
          "type":"url",
          "id":"enlace",
          "label":"Seleccionar enlace"
        },
        {
          "type":"image_picker",
          "id":"imagen",
          "label":"Seleccionar imagen"
        },
        {
          "type":"image_picker",
          "id":"image_movil",
          "label":"Seleccionar imagen en movil"
        }
      ]
    }
  ],
  "presets": [
     {
       "name": "Grid de 3 Banners"       
     }
   ]
}
{% endschema %}