<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center text-gris-jamar d-none d-md-block">{{ section.settings.title }}</h2>
      <h2 class="text-center text-gris-jamar fs-4 d-block d-md-none">{{ section.settings.title }}</h2>
      <p class="text-gris-jamar mt-2 text-center">{{ section.settings.text }}</p>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
   {% for block in section.blocks %}
      <div class="col-md-3 align-items-center">
        <div class="bg-light-gris-jamar rounded-circle">
            <img src="{{ block.settings.image | img_url:'master' }}" loading="lazy">
        </div>
        <a href="{{ block.settings.link }}">
            <button type="button" class="btn bg-light-gris-jamar text-gris-jamar">{{ block.settings.link_text }}</button>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Iconos informativos",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titulo",
        "default": "Titulo"
      },
      {
        "type": "text",
        "id": "text",
        "label": "text",
        "default": "Texto"
      }
    ],
    "blocks": [
      {
        "name" : "Icono",
        "type": "Servicio",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Icono"
            },
            {
              "type": "text",
              "id": "link_text",
              "label": "Texto del enlace"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            }
          ]       
      }
    ],
    "presets": [
      {
        "name": "Iconos informativos"
      }
    ]
    }
{% endschema %}