    
    {% comment %} Extracción de variables desde el tema principal {% endcomment %}
    {%- assign fonts_type_body_family = settings.type_body.family | append: ',' | append: settings.type_body.fallback_families -%}

    <style>
    :root {
    --font-main: {{fonts_type_body_family}};
    --color-main-text: #404B5A;
    
}

* {
    margin: 0px;padding: 0px;box-sizing: border-box;
    
}

h1, h2, h3, p, figcaption {
    font-family: var(--font-main);
    color: var(--color-main-text);
}

p {
    font-size: 16px;
}


.line {
    background-color: #404B5A;
    height: 308px;
}



/* Utilidad para que no expanda hacia los lados  */
.border-box {
    box-sizing: border-box;
}

/* Tamaño de las figures */
.figure-sizes {
    width: 190px;
    height: 182px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background: #F7F7F7;
}

/* Custom btn */
.btn_to_suavidad {
    color: var(--color-main-text);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 125px;
    height: 40px;
    border: 1px solid var(--color-main-text);
    text-decoration: none;
    font-family: var(--font-main);
    border-radius: 27px;
    font-size: 16px;

}


/* Estilos para los inputs del formulario de la sección de contacto */
input.section_contact_lead {
    height: 48px;
    background-color: #FAFAFA;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 34px;
    padding-left: 15px;
}

input.section_contact_lead::placeholder {
    color: #6E7A8A;
}

.position-absolute {
    right: 20px;
}

.container-img-group {
    padding: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 398px;
}

.img_descanso_group {
    width: 398px;
    height: 178px;
}

.svg_icon_descanso {
    z-index: 1000;
}

/* Estilos para los iconos */
.section-categorias-icon {
    border-radius: 40.5px;
    background-color: #F6F6F6;
}

.reset-enlace {
    text-decoration: none;
    color: #404B5A;
}

.reset-enlace:hover {
    text-decoration: none;
    color: #404B5A;
}

/* Estilizando la barra de scroll */
/* width */
.container-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 7px;
  
}

/* Track */
.container-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
  height: 7px;
}

/* Handle */
.container-scrollbar::-webkit-scrollbar-thumb {
  background: #404B5A;
  border-radius: 20px;
}

/* Handle on hover */
.container-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


{% comment %} Tamaños de fuentes globales  {% endcomment %}

.lato-parrafos {
    font-size: 16px;
    font-weight: 300;
    line-height: auto;
    margin-top: 16px;
    color: #404b5a;
}

.lato-titulos {
    font-size: 34px;
    font-weight: 400;
    margin: 80px 0px 48px 0px;
    letter-spacing: 0.5px;
}

.separador-section {
    margin-top: 80px;
}

.letter-spacing-0 {
    letter-spacing: 0px;
}

.blog-titles {
    font-size: 26px;
}

.line-h-enlace {
    line-height: 3.5px;
}


a.text_enlaces {
    color: #404b5a;
}

.parrafo-descanso {
    margin-top: 16px;
    margin-bottom: 48px;
}

.parrafo-groups-colchones {
    left: 10px;
}

.custom-cards-spaces {
    margin-top: 12px;
    margin-bottom: 16px;
}


/* Consulta del tamaño de la pantalla */
@media only screen and (max-width: 600px) {
    .img-cover {
        width: 90%;
        transform: translateY(-20%);
    }

    .lato-parrafos {
        font-size: 14px;
        font-weight: 300;
    }

    .lato-titulos {
        font-size: 24px;
        font-weight: 400;
        margin: 64px 0px 24px 0px;
    }

    .separador-section {
        margin-top: 64px;
    }

    p {
    font-size: 14px;
    }

    .btn_to_suavidad {
        width: 115px;
    }
    .blog-titles {
    font-size: 20px;
    }

    .parrafo-descanso {
        margin-top: 16px;
        margin-bottom: 28px;
    }

    .espacio-b-groups-colchones {
        margin-bottom: 20px;
    }


}

/* chanable */

    </style>
    
    {% comment %} Contenedor principal de la página web ###LISTO {% endcomment %}
    <main class="colchones-container-main container-fluid m-0 p-0">
        <div class="row m-0">
            <div class="col-12">
                <div class="row h-100 align-items-center">
                    <div class="col-md-6 p-0">
                        <div class="line d-flex flex-column align-items-center justify-content-center text-center text-md-center">
                            <h1 class="col-10 col-md-8 text-white lato-titulos m-0 p-0">{{ section.settings.main_title }}</h1>
                            <p class="col-8 text-white lato-parrafos m-0 p-0" style="margin-top: 16px!important">{{ section.settings.main_description}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 p-0 d-flex justify-content-center">
                        <img class="img-cover img-fluid" src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643135822/IMAGENES/JAMAR/COLCHONES/main-colchones-bg_zbpfmy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% comment %} Fin del contenedor principal de la página web {% endcomment %}
    
    <section class="container">{% comment %} Contenedor de la sección de tamaños de los colchones ###LISTO {% endcomment %}
        <div class="row">
                <h2 class="text-center lato-titulos"> {{section.settings.tamano_title}} </h2>
                <div class="col-12">
                    <div class="row justify-content-md-center">
                           <div class="col col-md-10">
                               <div class="row justify-content-md-around justify-content-start">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'Texto' %}
                                        {% assign b = block.settings %}
                                        <div class="col-6 col-md-3 d-flex justify-content-center">
                                                <a href="{{b.enlace_tamano}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                                                    <figure class="figure-sizes">
                                                        {{ b.image_sizes | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid' }}
                                                        <figcaption class="mt-2"><b>{{ b.title }}</b></figcaption>
                                                    </figure>
                                                </a>
                                        </div>
                                        {% endif %}
                                {% endfor %}
                               </div>
                           </div>
                    </div>
                </div>
        </div>
    </section>{% comment %} Contenedor de la sección de tamaños de los colchones {% endcomment %}

    <section class="container pb-0">{% comment %} Sección que contiene los grados de suavidad  ###LISTO {% endcomment %} 
        <div class="row justify-content-center">
                <h2 class="h1 text-center lato-titulos">{{ section.settings.suavidad_title }}</h2>
                <div class="col-11 col-md-11">
                    <div class="row justify-content-start justify-content-md-center container-scrollbar overflow-auto flex-nowrap pb-0">
                         {% for block in section.blocks %}
                                {% if block.type == 'suavidad' %}
                                {% assign b = block.settings %}
                                <div class="col-md-4 col-8 d-flex justify-content-center">
                                    <div class="card border-0 shadow-none" style="width: 18rem;">
                                    {{ b.image_suavidad | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'card-img-top' }}
                                        <div class="card-body d-flex flex-column align-items-center pt-0">
                                            <p class="card-text text-center lato-parrafos">{{ b.title }}</p>
                                            <a href="{{b.enlace_suavidad}}" class="btn_to_suavidad lato-parrafos mt-0"><b>Ir a comprar</b></a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                        {% endfor %}

                    </div>
                </div>
        </div>
    </section>{% comment %} Fin de la sección que contiene los grados de suavidad {% endcomment %}


    <section class="container separador-section">{% comment %}Contenedor de la sección que contiene el formulario de contacto  ###AGREGAR FORMULARIO DE CONTACTO {% endcomment %}
        <div class="row">
                <div class="col-12">
                    <div class="row overflow-auto justify-content-center flex-column-reverse flex-md-row">
                        <div class="col-12 col-md-6 d-flex flex-column  justify-content-center">
                           <h3 class="text-md-start text-center lato-titulos mt-md-0 mt-4 mb-4">
                               {{ section.settings.title_formulario}}
                           </h3>

                           <p class="mt-0 text-md-start text-center lato-parrafo"> {{section.settings.parr_formulario}} </p>

                           {% comment %} <form action="">
                               <input type="text" class="section_contact_lead col-12 col-md-9" placeholder="Nombre completo*">
                               <input type="text" class="section_contact_lead mt-3 col-12 col-md-9" placeholder="Tu correo electrónico*">
                               <button href="#" class="btn_to_suavidad d-flex align-items-center position-relative mt-3 bg-transparent"><b>Enviar</b>
                                <svg class="position-absolute" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 8.5835L4.5 4.72827L1 0.873036" stroke="#404B5A" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                           </form> {% endcomment %}

                           {% comment %} {% form 'contact' %}
                                {{ form_errors | default_errors }}
                                <input type="text" name="contact[first_name]" id="first-name" class="section_contact_lead col-12 col-md-9" placeholder="Nombre completo*">
                                <input type="text" name="contact[email]" id="email" class="section_contact_lead mt-4 col-12 col-md-9" placeholder="Tu correo electrónico*">
                                <input class="btn_to_suavidad d-flex align-items-center position-relative mt-3 bg-transparent" type="submit" value="Create" />
                            {% endform %} {% endcomment %}

                            {% render 'custom-form-colchones'%}

                            
                        </div>

                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            {{ section.settings.img_formulario | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid' }}
                        </div>

                    </div>
                </div>
        </div>
    </section>{% comment %}Fin de la sección que contiene el formulario de contacto {% endcomment %}


    <section class="container">{% comment %} Inicio de la sección de descanso  ###LISTO {% endcomment %}
        <div class="row justify-content-center">
                <h2 class="text-center lato-titulos mb-0"> {{ section.settings.title_descanso}} </h2>
                <p class="text-center col-10 col-md-6 lato-parrafo parrafo-descanso"> {{section.settings.parrafo_descanso}} </p>
                <div class="col-md-12 col-11">
                    <div class="row justify-content-center gx-md-1">
                       {% for block in section.blocks %}
                            {% if block.type == 'descanso' %}
                            {% assign b = block.settings %}
                           <div class="col-md-4 d-flex justify-content-center">
                                <div class="container-img-group position-relative mb-md-0 espacio-b-groups-colchones">
                                    <a href="{{b.enlace_descanso}}">
                                    <div class="position-relative mb-2">
                                            <p class="position-absolute bottom-0 text-white parrafo-groups-colchones">{{b.title}}</p>
                                            {{ b.image_descanso_1 | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img_descanso_group' }}
                                    </div>
                                    </a>
                                        <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643135816/IMAGENES/JAMAR/COLCHONES/svg_icon_plus_flq04n.svg" alt="" class="position-absolute  svg_icon_descanso">
                                    <a href="{{b.enlace_descanso_2}}">
                                    <div class="position-relative">
                                            <p class="position-absolute text-white bottom-0 parrafo-groups-colchones">{{b.title_2}}</p>
                                            {{ b.image_descanso_2 | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img_descanso_group' }}
                                    </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>
    </section>{% comment %} Fin de la sección de descanso {% endcomment %}

    <section class="container separador-section">{% comment %} Inicio de la sección de garantias, tranporte... de colchones ###LISTO{% endcomment %}
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="col-md-8 section-categorias-icon d-flex align-items-center justify-content-start mt-3 mb-3">
                            <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643142535/IMAGENES/JAMAR/COLCHONES/icon-garantia_udsuwq.png" alt="">
                            <p class="ms-4 mb-1"><b>1 año de garantía</b></p>
                        </div>
                    <div class="col-md-8 section-categorias-icon d-flex align-items-center justify-content-start mt-3 mb-3">
                        <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643142535/IMAGENES/JAMAR/COLCHONES/icon-delivery_n5qeif.png">
                        <p class="ms-4 mb-1"><b>Transporte y Armado gratis</b><p>
                    </div>
                    <div class="col-md-8 section-categorias-icon d-flex align-items-center justify-content-start mt-3 mb-3">
                        <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643142535/IMAGENES/JAMAR/COLCHONES/icon-ergonomic_eezoeb.png" alt="">
                        <p class="ms-4 mb-1"><b>Ergonómicos</b></p>
                    </div>
                    <div class="col-md-8 section-categorias-icon d-flex align-items-center justify-content-start mt-3 mb-3">
                        <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643142535/IMAGENES/JAMAR/COLCHONES/icon-estructura_wam3no.png" alt="">
                        <p class="ms-4 mb-1"><b>Estructura indeformable</b></p>
                    </div>
            </div>

            <div class="col-md-7">
                <div class="position-relative">
                    <a href="#">
                        {{ section.settings.img_garantia | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid w-100' }}
                    </a>

                    <a class="position-absolute text-white mb-2 bottom-0 text-decoration-underline" href="">Ver nuestras promociones</a>
                    
                </div>
            </div>
                </div>
            </div>
        </div>
    </section>{% comment %} Fin de la sección de imagenes de colchones {% endcomment %}  

    <section class="container">{% comment %} Inicio de la sección que contiene los ambientes ###LISTO  {% endcomment %}
        <div class="row justify-content-center">
                <h2 class="text-center lato-titulos"> {{ section.settings.titulo_ambiente}} </h2>
                <div class="col-11 col-md-11 mt-4">
                    <div class="row overflow-auto flex-nowrap pb-4 container-scrollbar justify-content-start justify-content-md-around">
                        {% for block in section.blocks %}
                            {% if block.type == 'ambientes' %}
                            {% assign b = block.settings %}
                            <div class="col-md-auto col-5">
                                <div class="card shadow-none border-0">
                                    <a href="">
                                        {{ b.image_ambiente | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid' }}
                                        <div class="card-body">
                                            <p class="card-text text-center"><b>{{b.title}}</b></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                           
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
        </div>
    </section>{% comment %} Fin de la sección que contiene los ambientes {% endcomment %}

    <section class="container">{% comment %} Inicio de la sección que contiene los tecnologias ###LISTO  {% endcomment %}
        <div class="row justify-content-center">
                <h2 class="text-center col-md-7 lato-titulos"> {{section.settings.titulo_tecnologias}} </h2>
                <div class="col-11 col-md-12">
                    <div class="row justify-content-start justify-content-md-center overflow-auto flex-nowrap pb-4 container-scrollbar">


                        {% for block in section.blocks %}
                            {% if block.type == 'tecnologias' %}
                                {% assign b = block.settings %}
                                <div class="col-md-3 col-8">
                                    <div class="card d-flex align-items-center justify-content-center w-100 border-0 pt-2 pb-2 shadow-none">
                                        {{ b.image_tecnologia | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid' }}
                                        <div class="card-body d-flex align-items-center flex-column p-1">
                                            <p class="card-text text-center custom-cards-spaces">{{b.title_tecnologias}}</p>
                                            <div class="col-12" style="background-color: red; width: 20px; height: 1.5px;"></div>
                                            <p class="text-center lato-parrafos">{{b.parr_tecnologias}}</p>
                                            <a class="text_enlaces text-center text-decoration-underline" href="{{b.link_tecnologia}}"><b>Saber más </b> 
                                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 8L4.5 4.5L1 1" stroke="#404B5A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
        </div>
    </section>{% comment %} Fin de la sección que contiene los tecnologias {% endcomment %}


    <section class="container">{% comment %} Inicio de la sección que contiene los expertos y entradas del blog ###LISTO {% endcomment %}
        <div class="row">
                <h2 class="text-center lato-titulos"> {{ section.settings.titulo_blog }} </h2>
                <div class="col-12">
                    <div class="row overflow-auto justify-content-between flex-md-row align-items-center">
                        <div class="col-12 col-md-7 d-flex justify-content-center position-relative">
                            {{ section.settings.blog_img1 | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid w-100'}}
                        </div>


                        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
                           <h3 class="h2 text-md-start text-start blog-titles">
                               {{ section.settings.blog_text1}}
                           </h3>

                           <p class="mt-3 text-md-start text-start lato-parrafos"> {{section.settings.blog_p_text1}} </p>
                           <a class="text_enlaces text-decoration-underline" href=" {{ section.settings.blog_post1.url }} "><b>Saber más </b> 
                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 8L4.5 4.5L1 1" stroke="#404B5A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                            </a>
                            
                        </div>

                        

                    </div>

                    <div class="row justify-content-center flex-md-row mt-5">
                        {% for block in section.blocks %}
                            {% if block.type == 'ent_blog' %}
                                {% assign b = block.settings %}
                                <div class="col-12 col-md-6 d-flex flex-column justify-content-center position-relative">
                                        <a href="http://" class="reset-enlace">
                                            <div>
                                                {{b.image_post | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'img-fluid'}}                                    
                                                <h4 class="mt-3 col-md-10 blog-titles"> {{b.title_e_blog}} </h4>
                                                <p class="lato-parrafos"> {{b.parr_e_blog}} </p>
                                                <a class="text_enlaces text-decoration-underline" href=" {{b.link_tecnologia.url}} "><b>Saber más</b> 
                                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1 8L4.5 4.5L1 1" stroke="#404B5A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>
    </section>{% comment %} Fin  de la sección que contiene los expertos y entradas del blog {% endcomment %}


{% schema %}
{
  "name": "Contenido Colchones",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Titulo Principal",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "text",
      "id": "main_description",
      "label": "Descripción Princial",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
      "type": "text",
      "id": "tamano_title",
      "label": "Titulo Tamaños",
      "default": "Tamaños de nuestros <b>colchones</b>"
    },
    {
      "type": "text",
      "id": "suavidad_title",
      "label": "Titulo grados suavidad",
      "default": "Grado de  <b>suavidad</b>"
    },
    {
      "type": "text",
      "id": "title_formulario",
      "label": "Titulo de formulario",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing <b>elitsed eiusmud</b>"
    },
    {
      "type": "text",
      "id": "parr_formulario",
      "label": "Parrafo de formulario",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    },
    {
      "type": "image_picker",
      "id": "img_formulario",
      "label": "Imagen de formulario"
    },
    {
      "type": "text",
      "id": "title_descanso",
      "label": "Titulo S. Descanso",
      "default": "Solución de <b>Descanso</b> "
    },
    {
      "type": "text",
      "id": "parrafo_descanso",
      "label": "Parrafo S. Descanso",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
      "type": "image_picker",
      "id": "img_garantia",
      "label": "Imagen de S. Garantía"
    },
    {
      "type": "text",
      "id": "titulo_ambiente",
      "label": "Imagen de S. Garantía",
      "default":"Completa tu <b> ambiente </b>"
    },
    {
      "type": "text",
      "id": "titulo_tecnologias",
      "label": "Titulo S. Tecnologias",
      "default":"Contamos con <b>tecnologías</b> que hacen tus productos más duraderos"
    },
    {
      "type": "text",
      "id": "titulo_blog",
      "label": "Titulo S. Blog"
    },
    {
      "type": "text",
      "id": "blog_text1",
      "label": "Titulo E. Blog 1",
      "default": "Nuestros <b> expertos </b> te hablan"
    },
    {
      "type": "text",
      "id": "blog_p_text1",
      "label": "Parrafo del blog 1",
      "default": "Completar"
    },
    {
      "type": "image_picker",
      "id": "blog_img1",
      "label": "Entrada blog 1"
    },
    {
      "type": "text",
      "id": "blog_parr",
      "label": "Parrafo blog 1"
    },
    {
      "type": "article",
      "id": "blog_post1",
      "label": "enlace_blog"
    }
  ],
  
    "blocks": [
    {
        "name" : "Tamaño de Colchones",
        "type": "Texto",
        "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Nombre de la sucursal"
        },
        {
            "type": "url",
            "id": "enlace_tamano",
            "label": "Enlace"
        },
        {
            "type": "image_picker",
            "id": "image_sizes",
            "label": "Imagen Ref"
        }
        ]       
    },
    {
        "name" : "Agregar suavidad",
        "type": "suavidad",
        "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Texto de suavidad"
        },
        {
            "type": "url",
            "id": "enlace_suavidad",
            "label": "Enlace"
        },
        {
            "type": "image_picker",
            "id": "image_suavidad",
            "label": "Imagen Ref"
        }
    ]       
},

{
"name" : "Grupos de Colchones",
"type": "descanso",
"settings": [
{
    "type": "text",
    "id": "title",
    "label": "Texto de Descanso 1"
},
{
    "type": "page",
    "id": "enlace_descanso",
    "label": "Enlace"
},
{
    "type": "image_picker",
    "id": "image_descanso_1",
    "label": "Imagen Ref"
},

{
    "type": "text",
    "id": "title_2",
    "label": "Texto de descanso"
},
{
    "type": "page",
    "id": "enlace_descanso_2",
    "label": "Enlace"
},
{
    "type": "image_picker",
    "id": "image_descanso_2",
    "label": "Imagen Ref"
}
]       
},
{
"name" : "Grupos de Ambientes",
"type": "ambientes",
"settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Texto de Ambientes"
    },
    {
        "type": "page",
        "id": "enlace_ambiente",
        "label": "Enlace"
    },
    {
        "type": "image_picker",
        "id": "image_ambiente",
        "label": "Imagen Ref"
    }
]       
},
{
"name" : "Tarjetas de tecnologías",
"type": "tecnologias",
"settings": [
    {
        "type": "text",
        "id": "title_tecnologias",
        "label": "Texto de Tecnologias"
    },
    {
        "type": "text",
        "id": "parr_tecnologias",
        "label": "Texto de Tecnologias"
    },
    {
        "type": "page",
        "id": "link_tecnologia",
        "label": "Enlace"
    },
    {
        "type": "image_picker",
        "id": "image_tecnologia",
        "label": "Imagen Ref"
    }
]       
},
{
"name" : "Entradas del blog",
"type": "ent_blog",
"settings": [
    {
        "type": "text",
        "id": "title_e_blog",
        "label": "Titulo entrada Blog"
    },
    {
        "type": "text",
        "id": "parr_e_blog",
        "label": "Texto de Tecnologias"
    },
    {
        "type": "article",
        "id": "link_tecnologia",
        "label": "Enlace blog"
    },
    {
        "type": "image_picker",
        "id": "image_post",
        "label": "Imagen Ref"
    }
]       
}
]
}
{% endschema %}