{{ 'section-titulos-imagenes.css'  | asset_url | stylesheet_tag }}

    <div class="left-text">
        <h2>{{section.settings.collection_title}}</h2>
        <p>{{section.settings.collection_parrafo}}</p>
    </div>
    <div class="imagen">
        <img src="{{ section.settings.imagen_link | image_url : width: auto}}" alt="{{ section.settings.imagen_link.alt }}">
    </div>


    {% schema %}
    {
       "name":"Titulo Imagenes",
       "class":"section-titulo-imagenes-contenedor",
       "settings": [
        {
            "type":"text",
            "id":"collection_title",
            "label":"Colocar el titulo"
        },
        {
            "type":"text",
            "id":"collection_parrafo",
            "label":"Colocar el parrafo"
        },
        {
            "type":"image_picker",
            "id":"imagen_link",
            "label":"Colocar la imagen"
        }
        
       ],
       "presets":[
        {
            "name":"Titulo Imagenes"
        }
       ]
    }
    {% endschema %}