<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-12 p-xs-0">
			<div class="position-relative">
                <a href="{{ section.settings.link }}">
    				<img class="d-none d-md-block w-100" src="{{ section.settings.image_desktop | img_url:'master' }}" loading="lazy">
    				<img class="d-block d-md-none" src="{{ section.settings.image_mobile | img_url:'master' }}" loading="lazy">
                </a>
				<div class="position-absolute top-0 start-0 col-12 col-md-10 col-lg-6 p-4">
					<h2 class="text-white m-0 lh-xs">{{ section.settings.heading_text }}</h2>
					<a href="{{ section.settings.link }}">
						<button type="button" class="btn bg-white rounded-pill text-gris-jamar ps-4 pe-4 pb-2 mt-3">{{ section.settings.button_text }}</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
  {
    "name": "Tiendas home",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Imagen desktop"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Imagen mobile"
      },
      {
        "id": "heading_text",
        "type": "text",
        "label": "Text",
        "default": "Heading"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Text",
        "default": "Texto del botón"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Enlace del botón"
      }
    ],
      "presets": [
        {
        "name": "Tiendas home"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}