<article class="site-page" data-template-page>
  <div class="shopify-section container" id="credijamar-steps">
    <section class="" id="step-1">
      <div class="display-no cartempty--container container">
        <div class="row">
          <div class="col-12">
            <div class="d-none d-md-block">
              <h2 class="text-center text-gris-jamar mt-4">
                Tu carrito de compras está vacío
              </h2>
              <p class="text-center">
                Es el turno para que en tu hogar nunca falte la comodidad y la variedad.
              </p>
            </div>
            <div class="d-md-none">
              <h2 class="text-center text-gris-jamar mt-4 fs-5 mb-3">
                Tu carrito de compras está vacío
              </h2>
              <p class="text-center fs-7">
                Es el turno para que en tu hogar nunca falte la comodidad y la variedad.
              </p>
            </div>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4 p-1 p-md-3">
            <a href="/collections/salas">
              <img class="img-fluid mb-0 mb-md-2" alt="Salas" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/SALAS_3325b8d5-3a4c-45aa-89db-be304dc06e38.jpg?v=1650727049">
            </a>
            <a class="fs-7 fs-md-4 text-dark fw-normal" href="/collections/salas">SALAS</a>
          </div>
          <div class="col-6 col-md-4 p-1 p-md-3">
            <a href="/collections/comedores">
              <img class="img-fluid mb-0 mb-md-2" alt="Comedores" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/COMEDORES_27fa1469-344a-4e7b-b65d-d6ed456d86eb.jpg?v=1650727050">
            </a>
            <a class="fs-7 fs-md-4 text-dark fw-normal" href="/collections/comedores">COMEDORES</a>
          </div>
          <div class="col-6 col-md-4 p-1 p-md-3">
            <a href="/collections/recamaras">
              <img class="img-fluid mb-0 mb-md-2" alt="Recamaras" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/RECAMARAS_f3a2ec57-95b9-4196-8676-b8cd433d0e4e.jpg?v=1650727049">
            </a>
            <a class="fs-7 fs-md-4 text-dark fw-normal" href="/collections/recamaras">RECÁMARAS</a>
          </div>
          <div class="col-6 col-md-4 p-1 p-md-3">
            <a href="/collections/colchones-y-bases">
              <img class="img-fluid mb-0 mb-md-2" alt="Colchones y Bases" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/COLCHONES_Y_BASES_7e70084b-3bfe-4bab-a3c1-ffd81890585c.jpg?v=1650727049">
            </a>
            <a class="fs-7 fs-md-4 text-dark fw-normal" href="/collections/colchones-y-bases">COLCHONES Y BASES</a>
          </div>
          <div class="col-6 col-md-4 p-1 p-md-3">
            <a href="/collections/muebles-para-tv-y-escritorios">
              <img class="img-fluid mb-0 mb-md-2" alt="Muebles para TV y Escritorios" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/MUEBLES_PARA_TV_Y_ESCRITORIOS_76918329-8979-4c48-979f-c1d8ea9694ff.jpg?v=1650727049">
            </a>
            <a class="fs-7 fs-md-4 text-dark fw-normal" href="/collections/muebles-para-tv-y-escritorios">MUEBLES PARA TV Y ESCRITORIOS</a>
          </div>
          <div class="col-6 col-md-4 p-1 p-md-3">
            <a href="/collections/juvenil-e-infantil">
              <img class="img-fluid mb-0 mb-md-2" alt="Juvenil e Infantil" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/JUVENIL_E_INFANTIL_e2be61ac-0b66-470b-b248-176e9cea1668.jpg?v=1650727049">
            </a>
            <a class="fs-7 fs-md-4 text-dark fw-normal" href="/collections/juvenil-e-infantil">JUVENIL E INFANTIL</a>
          </div>
        </div>
      </div>
      <div class="display-no cartitems--container container">
        <div class="row">
           <div class="col-12">
             <br>
             <h2 class="text-gris-jamar fs-3 fw-bold mb-2">Carrito de compras</h2>
           </div>
          <div class="col-12 col-md-8">
            <div class="pt-4" id="crediCartitems">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="container p-3 rounded-4 border border-1" id="summary">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-gris-jamar fs-3 fw-bold mb-1">Resumen del pedido</h2>
                  <p class="cantidad-productos mt-0 mb-2"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-6"><p>Subtotal:</p></div>
                <div class="col-6 text-end"><p class="subtotal fw-bold text-gris-jamar"></p></div>
              </div>
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="mb-3">Cuotas a:</p>
                </div>
                <div class="col-6">
                  <select class="form-select rounded-pill w-100 ml-auto mr-0 mb-3" id="cuotaSelect">
                    <option value="12">12 meses</option>
                    <option value="16">16 meses</option>
                    <option value="24" selected>24 meses</option>
                    <option value="40">40 meses</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-8"><p class="lh-1">Valor de la cuota semanal</p></div>
                <div class="col-4 text-end">
                  <p class="cuotatotal 12-meses fw-bold text-gris-jamar visually-hidden"></p>
                  <p class="cuotatotal 16-meses fw-bold text-gris-jamar visually-hidden"></p>
                  <p class="cuotatotal 24-meses fw-bold text-gris-jamar visually-hidden"></p>
                  <p class="cuotatotal 40-meses fw-bold text-gris-jamar visually-hidden"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn bg-azul-jamar rounded-pill text-white w-100 mb-1" id="btn-step-1">IR A COMPRAR</button>
                </div>
              </div>
            </div>
            <p  class="text-center mt-3">
            	<a href="/" class="text-gris-jamar text-decoration-underline"><i class="fa-solid fa-angle-left"></i> Seguir comprando</a>
            </p>   
          </div>
        </div>
      </div> 
    </section>

    <section class="display-no" id="step-2">
      <form action="javascript:void(0);" id="credijamar-form">
        <div class="credijamar-form-step-1-message message--error inactivo">
          <div class="errors">
            <ul>
              <li>ERROR: Por favor rellenar todos los campos del formulario.</li>
            </ul>
          </div>
        </div>
        <div class="form-fields-columns">
          <div id="step-2-1">
            <div id="form-field__tipo_documento" class="form-field form-field--half">
              <span class="form-field-select-wrapper">
                <select id="tipo_documento" class="form-field-select" name="tipo_documento">
                  <option value="-1" disabled selected>Seleccione el tipo de documento</option>
                </select>
                {% render "icon-chevron-down" %}
              </span>
              <label class="form-field-title" for="">¿Tipo de documento?</label>
              <p class="error-message form-field__incorrecto-inactivo">Error Message</p>
            </div>
            <div id="form-field__cedula" class="form-field form-field--half">
              <input id="cedula" class="form-field-input form-field-text" autocomplete="on" name="cedula" type="text"
                onkeyup="javascript:this.value=this.value.toUpperCase()" onclick="warningShow()">
              <label class="form-field-title" for="cedula">Tú número de documento</label>
              <p class="error-message form-field__incorrecto-inactivo"></p>
              <div id="form-field__cedula-warning" class="display-no">
                <ul>
                  <li>Si tú documento de identidad empieza con cero (0) no incluirlo</li>
                  <li>Si tú documento de identidad incluye guiones (-) debes ingresarlo</li>
                  <li>Si tu documento de identidad incluye Letras, debes incluirlas.</li>
                </ul>
              </div>
            </div>
            <center>
              <div id="terminos-apc" style="margin-top: 16px">
                <label class="checkbox">
                  <input type="checkbox" id="terminos" required
                    onchange="this.setCustomValidity(validity.valueMissing ? 'Por favor, indique que acepta los Términos y Condiciones' : '');">
                  <span style="color:black; padding-left:5px;">Aceptar los
                    <a style="color:blue;" href="/pages/autorizacion-apc" target="_blank">Términos y
                      Condiciones</a>
                  </span>
                </label>
              </div>
              <button class="button-primary" id="btn-step-2-1">Siguiente</button>
            </center>
          </div>
          <div class="display-no" id="step-2-2">
            <div id="form-field__nombre" class="form-field form-field--half">
              <input id="nombre" class="form-field-input form-field-text" autocomplete="on" name="nombre"
                placeholder="Escríbe aquí tu primer nombre" type="text">
              <label class="form-field-title" for="nombre">Tú primer nombre</label>
              <p class="error-message form-field__incorrecto-inactivo"></p>
            </div>
            <div id="form-field__segundo_nombre" class="form-field form-field--half">
              <input id="segundo_nombre" class="form-field-input form-field-text" autocomplete="on"
                name="segundo_nombre" placeholder="Escríbe aquí tu segundo nombre" type="text">
              <label class="form-field-title" for="segundo_nombre">Tú segundo nombre</label>
              <p class="error-message form-field__incorrecto-inactivo"></p>
            </div>
            <div id="form-field__apellido" class="form-field form-field--half">
              <input id="apellido" class="form-field-input form-field-text" autocomplete="on" name="apellido"
                placeholder="Escríbe aquí tu primer apellido" type="text">
              <label class="form-field-title" for="apellido">Tú primer apellido</label>
              <p class="error-message form-field__incorrecto-inactivo"></p>
            </div>
            <div id="form-field__segundo_apellido" class="form-field form-field--half">
              <input id="segundo_apellido" class="form-field-input form-field-text" autocomplete="on"
                name="segundo_apellido" placeholder="Escríbe aquí tu segundo apellido" type="text">
              <label class="form-field-title" for="sgundo_apellido">Tú segundo apellido</label>
              <p class="error-message form-field__incorrecto-inactivo"></p>
            </div>
            <div id="form-field__celular" class="form-field form-field--half">
              <input id="celular" class="form-field-input form-field-text" autocomplete="on" name="celular"
                placeholder="Escríbe aquí tu número celular" type="text" required>
              <label class="form-field-title" for="celular">Tú número celular</label>
              <p class="error-message form-field__incorrecto-inactivo"></p>
            </div>
            <div id="form-field__email" class="form-field form-field--half">
              <input id="email" class="form-field-input form-field-text" autocomplete="on" name="email"
                placeholder="Escríbe aquí correo electrónico" type="email">
              <label class="form-field-title" for="email">Tú correo electrónico</label>
              <p class="error-message form-field__incorrecto-inactivo"></p>
            </div>
            <center>
              <button 
                class="button-primary" 
                id="btn-step-2-2" 
                {% comment %}
                /**********************************************************
                *             RETAIL ROCKET CONTENIDO PERSONALIZADO
                *                   PATRYKSIM@GMAIL.COM
                **********************************************************/
                {% endcomment %}
                onclick="try {rrApi.setEmail($('#email').val());}catch(e){}"
              >Siguiente</button>
            </center>
          </div>
          <div class="display-no" id="step-2-3">
            <div id="form-field__ocupaciones" class="form-field form-field--half">
              <span class="form-field-select-wrapper">
                <select id="ocupaciones" class="form-field-select" name="ocupaciones">
                  <option value>selecciona tu ocupación</option>
                </select>
                {% render "icon-chevron-down" %}
              </span>
              <label class="form-field-title" for="">¿Cu&aacute;l es tu ocupaci&oacute;n?</label>
            </div>
            <div id="form-field__actividad_comercial" class="form-field form-field--half">
              <span class="form-field-select-wrapper">
                <select id="actividad" class="form-field-select" name="actividad" type="text" value>
                  <option value>selecciona a que te dedicas</option>
                </select>
                {% render "icon-chevron-down" %}
              </span>
              <label class="form-field-title" for="">¿Cu&aacute;l es tu actividad comercial?</label>
            </div>
            <div id="form-field__ingresos" class="form-field form-field--half">
              <input id="ingresos" class="form-field-input ingresosInput form-field-text"
                placeholder="¿Cu&aacute;ntos son tus ingresos?" name="ingresos" type="text">
              <p class="error-message form-field__incorrecto-inactivo"></p>
            </div>
            <div style="display: none;" id="form-field__sucursales" class="form-field form-field--half">
              <span class="form-field-select-wrapper">
                <select id="tienda" class="form-field-select" name="tienda" type="text" value>
                  <option value>Selecciona tienda más cercana</option>
                  <option value="ALBROOK MALL">ALBROOK MALL</option>
                  <option value="VÍA ESPAÑA">VÍA ESPAÑA</option>
                  <option value="VÍA ESPAÑA">LA CHORRERA</option>
                  <option value="VÍA ESPAÑA">TOCUMEN</option>
                  <option value="VÍA ESPAÑA">LOS ANDES</option>
                  <option value="MEGAMALL">MEGAMALL</option>
                  <option value="DAVID CHIRIQUÍ">DAVID CHIRIQUÍ</option>
                </select>
                {% render "icon-chevron-down" %}
              </span>
              <label class="form-field-title" for="">¿Qué tienda tienes más cerca?</label>
            </div>
            <div style="display: none;" class="form-field form-field--half">
              <p>¿Quiere que te llame un asesor?</p>
              <input type="radio" id="llamada_asesor_si" name="llamada_asesor" value="si" checked>
              <label for="llamada_asesor_si">S&iacute;</label><br>
              <input type="radio" id="llamada_asesor_no" name="llamada_asesor" value="no">
              <label for="llamada_asesor_no">No</label><br>
            </div>
            <div class="form-action-row">
              <!--button class="button-primary contact-form-button mdc-ripple-surface mdc-ripple-upgraded btn-atras"
                    id="previous">
              Atrás
            </button>
            <button class="button-primary contact-form-button mdc-ripple-surface mdc-ripple-upgraded" id="btn-step-3"
                    type="submit">
              Finalizar
            </button-->
              <button class="button-primary" id="btn-step-2-3">Siguiente</button>
            </div>
          </div>
        </div>
      </form>


    </section><!-- CONSULTA VISOR -->

    <section class="display-no" id="step-3">
      <center class="display-no" id="img-step-3-amarillo">
        <img id="img-step-3-amarillo-oro" class="display-no"
          src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/CrediJamar-Cliente-Amarillo-Oro.jpg?v=1620138602">
        <img id="img-step-3-amarillo-verde" class="display-no"
          src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Credito-Cliente_Viable-01.jpg?v=1620328453">
        <br>
        <button class="button-primary" id="btn-step-3">Siguiente</button>
      </center>
      <center class="display-no" id="img-step-3-viable">
        <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/CrediJamar-Cliente-Viable.jpg?v=1614276290">
        <br>
        <a class="button-primary mdc-ripple-surface mdc-ripple-upgraded btn" href="/">SEGUIR COMPRANDO</a>
      </center>
      <center class="display-no" id="img-step-3-no-viable">
        <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/CrediJamar-Cliente-No-Viable.jpg?v=1614276290">
        <br>
        <a class="button-primary mdc-ripple-surface mdc-ripple-upgraded btn" href="/">SEGUIR COMPRANDO</a>
      </center>
    </section><!-- VERIFICACION DE ESTRATEGIA -->

    <section class="display-no" id="step-4">
      <form action="javascript:void(0);">
        <div class="form-fields-columns">
          <div id="form-field__province" class="form-field form-field--half">
            <span class="form-field-select-wrapper">
              <select id="province" class="form-field-select" name="province" placeholder="Seleccione la provincia">
              </select>
              {% render "icon-chevron-down" %}
            </span>
            <label class="form-field-title" for="">Provincia</label>
            <p class="error-message form-field__incorrecto-inactivo">Error Message</p>
          </div>
          <div id="form-field__city" class="form-field form-field--half">
            <span class="form-field-select-wrapper">
              <select id="city" class="form-field-select" name="city" placeholder="Seleccione la ciudad">
              </select>
              {% render "icon-chevron-down" %}
            </span>
            <label class="form-field-title" for="">Ciudad</label>
            <p class="error-message form-field__incorrecto-inactivo">Error Message</p>
          </div>
          <div id="form-field__township" class="form-field form-field--half">
            <span class="form-field-datalist-wrapper">
              <input list="townships-list" id="township-selected" type="text" required="data-value"
                placeholder="Seleccione el corregimiento">
              <datalist id="townships-list">

              </datalist>
            </span>
            <label class="form-field-title" for="">Corregimiento</label>
          </div>
        </div>
        <div class="form-field">
          <textarea class="form-field-input" id="address" name="address" placeholder="Escríba su dirección"
            required></textarea>
          <label class="form-field-title" for="">Dirección</label>
        </div>
        <div class="form-field">
          <textarea class="form-field-input" id="indications" name="indications"
            placeholder="Por favor anexe señas para llegar al lugar de entrega"></textarea>
          <label class="form-field-title" for="">Indicaciones adicionales</label>
        </div>
        <button type="submit" class="button-primary" id="btn-step-4">Siguiente</button>
      </form>
    </section><!-- DIRECCION -->

    <section class="display-no" id="step-5">
      <p>Usted debe verificar su identidad, para esto presione en Veríficame</p>
      <div id="btn-become" style="text-align: center;padding-top: 16px;"></div>
    </section><!-- BECOME -->

    <section class="display-no" id="step-6">
      <form action="javascript:void(0);" id="precalificacion">
      </form>
      <div id="div-empresa" class="form-field form-field--half display-no">
        <input id="empresa" class="form-field-input form-field-text" autocomplete="on" name="empresa"
          placeholder="Seleccione la empresa" type="text" readonly onclick="buscarEmpresa()">
        <label class="form-field-title" for="nombre">En qué empresa labora?</label>

        <div class="form-field form-field--half" style="margin-top: 16px;">
          <span class=" form-field-select-wrapper">
            <select id="tipoempresa" class="form-field-select" name="tipoempresa">
              <option value="-1" disabled selected>Seleccione el tipo de empresa</option>
              <option value="ddempresaprivadapanama">Empresa Privada</option>
              <option value="ddsemiautonomopanama">Empresa Semiautonoma</option>
              <option value="ddcajasegurosocialpanama">Caja del Seguro Social</option>
            </select>
          </span>
          <label class="form-field-title" for="">Tipo empresa?</label>
        </div>

        <button class="button-primary" id="btn-step-6" style="margin-top: 16px;">Siguiente</button>
      </div>
      <br>
    </section><!-- PRECALIFICACION -->

    <section class="display-no" id="step-7">
      <center>
        <p>Pulse los siguientes enlaces, léalos atentamente. Si marca las casillas, reconoce que ha leído y acepta los
          siguientes términos </p>
        <br>
        <label class="checkbox">
          <input type="checkbox" onclick="selectAll()">
          Marcar todos los documentos
        </label>
        <br><br>
      </center>
      <form action="javascript:void(0);" id="documents" name="documents" style="text-align: left;">
      </form>
      <div id="buttonsd" style="text-align: center;">
      </div>
      <br>
      <center>
        <label class="checkbox">
          <input type="checkbox" id="manifiesto" onclick="manifiesto()">
          Manifiesto que he leído y acepto el documento
        </label>
        <br>
        <button class="button-primary display-no" id="btn-step-7">Siguiente</button>
      </center>
    </section><!-- FIRMA DE DOCUMENTOS 7 -->

    <section class="display-no" id="step-8">
      <p>Estimado cliente: Por favor escoja la fecha de entrega de su pedido</p>

      <div id="select-delivery-date-input" style="text-align: center; margin: 16px 0px;"> </div>

      <center>
        <button class="button-primary" id="btn-step-8">Confirmar cita y finalizar</button>
      </center>
    </section><!-- FECHA DE ENTREGA -->

  </div>

  <div class="display-no" id="help-section">
    <center>
      <a href="https://wa.link/muzvc5" id="btn-help">
        <p><span><i class="fab fa-whatsapp"></i></span> ¿Necesitas ayuda? Chatéanos</p>
      </a>
    </center>
  </div>

  <div class="display-no" id="exit-section">
    <center>
      <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/CrediJamar-Exit-Section.jpg?v=1619186481">
      <br>
      <a class="button-primary mdc-ripple-surface mdc-ripple-upgraded btn" href="/">SEGUIR COMPRANDO</a>
    </center>
  </div><!-- SALIDA DEL PROCESO -->
  
    <div class="display-no" id="viable-section">
    <center>
      <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/CrediJamar-Cliente-Viable.jpg?v=1614276290">
      <br>
      <a class="button-primary mdc-ripple-surface mdc-ripple-upgraded btn" href="/">SEGUIR COMPRANDO</a>
    </center>
  </div><!-- SALIDA DEL PROCESO -->
</article>



<!-- Script Visor CrediJamar -->
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript" defer="defer"></script> -->
{{'jquery.min.js' | asset_url | script_tag}}
{{'inputmask.min.js' | asset_url | script_tag}}
{{'credit-cart.js' | asset_url | script_tag}}
{{'button.js' | asset_url | script_tag}}
{{'https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js' | script_tag}}
{{'https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.css' | stylesheet_tag}}
{{'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' | stylesheet_tag}}
{{'written-number.min.js' | asset_url | script_tag}}

