<article class="site-page rich-text--container" data-template-page>
  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}
  <div class="page-content rte">
    <div class="container-lg">
      <div class="row">
        <div class="col-12 col-sm-6 text-center align-self-center">
          <img src="https://cdn.shopify.com/s/files/1/0519/2695/8235/files/jamar-recorrido-virtual-05.png?v=1631289940">
        </div>
        <div class="col-12 col-sm-6 text-center align-self-center">
          <h2 class="text-body">¿Te gustaría tener estos muebles en tu hogar?</h2>
          <p>Escríbenos y un asesor te contactará</p>
                <div class="newsletter">
            {% form 'customer', id: form_id %}
            {% if form.posted_successfully? %}
            <p class="newsletter-success">
              {{ 'general.newsletter.success' | t }}
            </p>
            {% else %}
            <input
                   type="hidden"
                   name="contact[tags]"
                   value="{{ newsletter_tags }}"
                   >
            <div class="form-fields-inline ">
              <div class="form-field name">
                <input
                       class="form-field-input form-field-text"
                       name="contact[note][Nombre]"
                       id="{{ input_name }}"
                       type="text"
                       aria-label="nombre"
                       >
                <label
                       class="form-field-title"
                       for="{{ input_name }}"
                       >
                  Nombre *
                </label>
              </div>
              <div class="form-field tel">
                <input
                       class="form-field-input form-field-text"
                       name="contact[note][Nombre]"
                       id="{{ input_tel }}"
                       type="tel"
                       aria-label="telefono"
                       >
                <label
                       class="form-field-title"
                       for="{{ input_tel }}"
                       >
                  Telefono *
                </label>
              </div>
              <div class="form-field email">
                <input
                       class="form-field-input form-field-text"
                       name="contact[email]"
                       id="{{ input_id }}"
                       type="email"
                       aria-label="{{ 'general.newsletter.placeholder' | t }}"
                       >
                <label
                       class="form-field-title"
                       for="{{ input_id }}"
                       >
                  {{ 'general.newsletter.placeholder' | t }}
                </label>
              </div>
              <div class="form-field">
                <button type="button" class="btn btn-dark" name="subscribe" type="submit">Enviar</button>
              </div>
            </div>
            {% endif %}
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
